
		.theater_wrapper{
			width: 100%;
			background-color: black;
			padding-top:8%;
		}

		.TheaterArea{
			margin: auto;
			width: 80%;
			max-width: 1440px;
			height:70vh;
			overflow: hidden;
			position: relative;
			box-shadow: 0px 0px 3px rgba(255,255,255,0.5);
		}
		@media screen and (max-width:1024px) and (min-width:415px){
			.TheaterArea{
				top:30px;
			}
		}
		@media screen and (max-width:414px){
			.TheaterArea{
				top:30px;
			}
		}
		/*背景圖=劇場介紹圖*/
		.TheaterArea #intro{
			background-image: url("../img/thirdSection/dome_theater.png");
			background-size: cover;
			background-repeat: no-repeat;
			border: 1px solid #35ffea;
		}
		@media screen and (max-width:414px){
			.TheaterArea #intro{
				width: 100%;
			}
		}
		.TheaterArea li:nth-child(2){
			background-image: url("../img/thirdSection/Galaxy_2_m.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			border: 1px solid #35ffea;
		}
		@media screen and (max-width:414px){
			.TheaterArea li:nth-child(2){
				width: 100%;
			}
		}
		.TheaterArea li:nth-child(3){
			background-image: url("../img/thirdSection/ba4ss.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			border: 1px solid #35ffea;
		}
		@media screen and (max-width:414px){
			.TheaterArea li:nth-child(3){
				width: 100%;
			}
		}
		/*背景圖=劇場介紹圖*/


		
		.TheaterArea .Theater{
			width: 8%;
			overflow: hidden;
			float: left;
			transition: .3s linear;
			height: 100%;
			position: relative;
			left: 0;
			font-family: "微軟正黑體";
		}
		@media screen and (max-width:1024px) and (min-width:415px){
			.TheaterArea .Theater{
				width: 100%;
				float: none;
				display: block;
				height:30%;
			}
		}
		@media screen and (max-width:414px){
			.TheaterArea .Theater{
				width: 100%;
				float: none;
				display: block;
				height:30%;
			}
		}
		.TheaterArea .buy{/*前往購票按鈕*/
			width: 4%;
			height:100%; /*有改過*/
			overflow: hidden;
			float: left;
			border: 1px solid rgba(255, 141, 20,1);
			background-color: rgba(255, 141, 20,0.3);

		}
		.TheaterArea .buy:hover {
			background-color: rgba(255, 141, 20,1);
			
		}
		@media screen and (max-width:1024px) and (min-width:415px){
			.TheaterArea .buy{
				width:100%;
			}
		}
		@media screen and (max-width:414px){
			.TheaterArea .buy{
				width:100%;
			}
			
		}
		.TheaterArea .buy a{
			display: block;
			position: relative;
			height: 100%;
			width: 100%;
			font-size: 25px;
			color:white;
			padding: 5px;
			/*vertical-align: bottom;*/

		}
		@media screen and (max-width:414px){
			.TheaterArea .buy a{
				height: 50%;
			}
		}
		.TheaterArea .buy a span{
			position: absolute;
			left: 50%;
			bottom:1%;
			transform: translateX(-50%);
		}
		@media screen and (max-width:1024px) and (min-width:415px){
			.TheaterArea .buy a span{
				position: absolute;
				top:1%;
			}
		}
		@media screen and (max-width:414px){
			.TheaterArea .buy a span{
				position: absolute;
				top:23.5%;
			}
		}
		.TheaterArea .buy:hover a span{
			color: black;
		}
		/*前往購票按鈕*/



		/*點選後的class(區塊變大)*/
		.TheaterArea .current{
			width: 80%;
			overflow: hidden;
			z-index: 1000;
		}
		@media screen and (max-width:1024px) and (min-width:415px){
			.TheaterArea .current{
				width:100%;
				height:250px;
			}
		}
		@media screen and (max-width:414px){
			.TheaterArea .current{
				height:50%;
			}
		}
		/*清除浮動*/
		.TheaterArea:after{
			content:"";
			display: block;
			clear:both;
		}
		
		.TheaterArea .theaterInfo{/*各區塊介紹-當父層class不是.current時不會顯示*/
			position: absolute;
			width: 45%;
			right: 5%;
			bottom: 6%;
			font-size: 16px;
			color:white;
			background-color: rgba(0,0,0,0.8);
			display: none;
			
		}
		@media screen and (max-width:414px){
			.TheaterArea .theaterInfo{
				width:50%;
			}
			/*劇場介紹內文手機版隱藏*/
			.TheaterArea .theaterInfo .moblienoshow{
				display: none;
			}
		}
		.TheaterArea .theaterInfo h2{
			line-height:2;
			letter-spacing: 3px;
			font-size:24px;
		}
		.TheaterArea .theaterInfo .theatercontent{
			letter-spacing: 2px;
			line-height:2;	
		}
		@media screen and (max-width:414px){
			.TheaterArea .theaterInfo .theatercontent{
				line-height:1.5;	
			}
		}
		.current #info{/*顯示各區塊介紹*/
			display: block;
			font-size:16px;
			padding: 15px;
			line-height:1.5;
            letter-spacing: 2px;
		}
		@media screen and (max-width:414px){
			.current #info{
				font-size: 14px;
				top:5px;
				width:63%;
			}
		}
		.TheaterArea .notcurrent{/*非.current時游標提示為可選擇*/
			cursor: pointer;
		}
		@media screen and (max-width:414px){
			.TheaterArea .notcurrent{
				height: 20%;
			}
		}
		.TheaterArea .notcurrent:hover .cover{/*可選擇的提示*/
			width: 100%;
			height: 100%;
			background-image: url(../img/thirdSection/giphy.gif);
			background-repeat: repeat;
			opacity: 0.7;
			position: absolute;
			top: 0;
			left: 0;
		}

		.TheaterArea li .label{/*顯示各區塊小標-可有可無*/
			position: absolute;
			top:5px;
			padding:8px;
			font-size: 16px;
			background-color: rgba(0,0,0,1);
			box-shadow: 1px 1px 0px #35ffea;
			color:white;
		}
		.Theater img{
			position: absolute;
			top:117px;
			left:163px;
		}