@font-face{
	font-family: Transformers Movie;
	src: url("Transformers Movie.ttf");
}


#section3{
	background-color: black;
}

*{
	/*outline: 1px solid red;*/
}

#section3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    user-select: none;
}


#wrapper{
	padding-top: 8%;
	width: 100%;
	height: 100%;
}
@media screen and (max-width:600px){
	#wrapper{
		padding-top: 8vh;
	}
}

#calWrapper{
	width: 80%;
	max-width: 1440px;
	/*min-width: 400px;*/
	margin: 0 auto;
	margin-bottom: 50px;
	position: relative;
}
@media screen and (max-width:650px){
	*{
	/*outline: 1px solid blue;*/
	}
	#calWrapper{
		display: none;
	}
}
@media screen and (min-width:650px) and (max-width:1300px){
	#calWrapper{
		width: 95%;
		height: 90%;
		margin-top: 5%;
		margin-left: 2.5%;
	}
}
@media screen and (min-width:1024px){

}

#calRight{
/*==========================*/
	width: 13.4%;
	margin-right: 1.8%;
	display: inline-block;
	text-align: center;
}
#showToday{
	width: 100%;
}
@media screen and (max-width:600px){
	#calRight{
		width: 102%;
		height: 13vh;
		position: absolute;
		left: -1%;
		bottom: 0;
		text-align: center;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	#calRight{
		width: 10%;
	}
}
@media screen and (min-width:1024px){

}

#showMonth{
	font-size: 32px;
	margin: 0;
	color: white;
	font-family: Inconsolata;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
}

#calRight .fa{
	text-align: center;
	font-size: 30px;
	margin: 10px;
	color: white;
	transform: scale(2);
	cursor: pointer;
	vertical-align: middle;
}
@media screen and (max-width:600px){
	#showToday{
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}
	#showMonth{
		font-size: 24px;
		float: left;
		width: 50%;
		height: 24px;
		vertical-align: top;
		border: 1px solid transparent;
		margin-top: -5px;
	}
	#prevMonth, #nextMonth{
		width: 10%;
		float: left;
		text-align: center;
		transform: rotate(-90deg);
		vertical-align: top;
		height: 20px;
		border: 1px solid transparent;
	}#prevMonth{
		margin-left: 15%;
		padding-left: 0;
		text-align: center;
	}#nextMonth{
		text-align: center;
		padding-top: 0;
	}
	#calRight .fa{
		margin: 0;
		vertical-align: middle;
		z-index: 4;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	
}
@media screen and (min-width:600px) and (max-width:1240px){
	#showMonth{
		font-size: 22px;
		width: 80%;
	}
}
@media screen and (min-width:1240px){
	#showMonth{
		font-size: 24px;
		width: 80%;
	}
}

#icons{
	text-align: left;
	margin-top: 20px;
	width: 100%;
}
@media screen and (max-width:600px){
	#icons{
		width: 100%;
		height: 30%;
		margin-top: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}


#selectActivityClass{
	list-style: none;
	width: 100%;
	padding-left: 0;
	text-align: center;
	margin-top: 30px;
}
@media screen and (max-width:600px){
	#selectActivityClass{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}

#selectActivityClass li{
	width: 100%;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid transparent;
	vertical-align: middle;
}
@media screen and (max-width:600px){
	#selectActivityClass li{
		margin: 0;
		width: 24.1%;
		padding: 8px;
		display: inline-block;
		box-shadow: 0 0 1px orange;
	}#selectActivityClass li img{
		width: 30%;
		height: auto;
		vertical-align: middle;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	#selectActivityClass li{
		height: 46px;
		width: 100%;
		display: inline-block;
	}
}
@media screen and (min-width:1024px){

}

#selectActivityClass li span{
	font-size: 18px;
	font-family: 微軟正黑體;	
	vertical-align: middle;
	color: azure;
}
@media screen and (max-width:600px){
	#selectActivityClass li span{
		display: none;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	#selectActivityClass li span{
		display: none;
	}
}
@media screen and (min-width:1024px) and (max-width:1240px){
	#selectActivityClass li span{
		font-size: 14px;
	}
}
@media screen and (min-width:1240px){

}

#selectActivityClass img{
	width: 36px;
	padding: 5px;
	vertical-align: middle;
}
@media screen and (max-width:600px){
	#selectActivityClass img{
		padding: 0;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px) and (max-width:1240px){
	#selectActivityClass img{
		width: 30px;
	}
}
@media screen and (min-width:1024px){

}


/*========================*/
#cal{
	width: 66%;
	/*min-width: 400px;*/
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	user-select: none;
}

#cal table{
	width: 100%;
	height: 85%;
	max-height: 100px;
	text-align: left;
	margin: 0 auto;
	user-select: none;
	background: linear-gradient(to bottom,#404040 0% ,#dedede 5%);
	border-collapse: separate;
	border-spacing: 0px 5px;
}

#cal #dayRow td{
	font-size: 20px;
	font-family: 'Share Tech Mono', monospace;
	letter-spacing: 2px;
	padding: 10px;
	height: 10%;
	width: 14.28571428571429%;
	color: azure;
	font-weight: 100;
	border: none;
	text-align: center;
	vertical-align: middle;
	background-color: #404040;
	box-shadow: 1px 1px 5px black;
	border-left: none;	
	border-spacing: 0px 0px;
}

@media screen and (max-width:600px){
	#cal{
		width: 100%;
		position: absolute;
		top: -2%;
		left: 0;
	}.calFadeOut{
		opacity: 0.3;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}

#cal .daysHere{
	width: 0.5%;
	height: 18px;
	font-size: 16px;
	padding: 5px;
	vertical-align: middle;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-align: left;
	cursor: pointer;
	color: navy;
	position: relative;
	transition: .5s;
	border-top: 1px solid lightgray;
}

#cal .claContent{
	font-size: 16px;
	width: 10%;
	height: 55px;
	/*min-height: 50px;*/
	min-width: 20px;
	color: #2270a6;
	font-family: 微軟正黑體;
	opacity: 0;
	line-height: 1.5;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
}@media screen and (max-width:400px){
	#cal .claContent{
		height: 25px;
	}
}
@media screen and (max-width:600px){
	#cal .claContent{
		padding-left: 1px;
		padding-bottom: 1px;
		line-height: 1.3;
		overflow-y: hidden;
		font-size: 12px;
		height: 45px;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
	#cal .claContent{
		padding-left: 5px;
		padding-bottom: 5px;
		font-size: 12px;
		height:45px;
	}
}
@media screen and (min-width:1024px){

}
#cal .claContent span{
	font-size: 12px;
	line-height: 5;
	color: white;
	border: none;
	vertical-align: bottom;
}



/*============================*/
#showActivityWrapper{
	display: inline-block;
	width: 16%;
	font-family: "微軟正黑體";
	font-size: 16px;
	padding-left: 20px;
	padding-right: 0;
	vertical-align: top;
	color: lightgray;
	position: relative;
}
@media screen and (max-width:600px) and (max-width:1024px){
	#showActivityWrapper{
		position: absolute;
		width: 50%;
		height: 40%;
		top: 0;
		bottom: 0;
		right: -200%;
		left: 0;
		margin: auto;
		z-index: 2;
		background-color: #333;
		border: 2px solid #35ffea;
		padding: 20px;
	}
}
@media screen and (min-width:1024px){

}

#showActivityWrapper h2{
	color: lightgray;
	text-align: left;
	font-size: 24px;
	font-family: "微軟正黑體";
	margin: 0;
}

.fa-times-circle{
	opacity: 0;
}
@media screen and (max-width:600px){
	#activityClose{
		cursor: pointer;
		z-index: 3;
	}
	.fa-times-circle{
		opacity: 1;
		position: absolute;
		top: 20px;
		right: 20px;
		transform: scale(2);
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
		
}
@media screen and (min-width:1024px){

}
#showActivityWrapper table{
	width: 100%;
	margin-top: 10px;
}

#activity{
	height: 100%;
	overflow-y: scroll;
	position: relative;
	/*outline: 1px solid red;*/
	overflow: hidden;
}

#activity th{
	font-size: 16px;
	padding: 2px;
	padding: 10px 0 5px 0;
	text-align: left;
	width: 70%;
}
#activity th + td{
	width: 100%;
	min-width: 50px;
}

#activity td{
	width: 100%;
	font-size: 16px;
	padding: 2px;
	color: lightgray;
}

.highlight{
	width: 0;
	height: 0;
	border-radius: 50%;
	position: absolute;
	top:100px;
	left:10px;
	right:0;
	margin: 0 auto;
	z-index: 100;
	opacity: 0;
}.highlight1{
	border: 3px solid #ff6600;
}.highlight2{
	border: 3px solid #ffc116;
}.highlight3{
	border: 3px solid #35ffea;
}

#activityDate, #activityDay{
	font-size: 32px;
}
@media screen and (min-width: 600px) and (max-width: 1024px){
	#activityDate, #activityDay{
	font-size: 28px;
	}	
}

a.convert{
	width: 40px;
	height: 20px;
	display: block;
	padding: 4px;
	font-size: 16px;
	color: #ffc116;
	cursor: pointer;
	text-orientation: sideways;
}


#weatherWrapper{
	width: 100%;
	height: 30%;
	margin-top: 20px;
	padding-top: 10px;
	font-size: 24px;
	border-top: 1px solid #555;
}

#temperature, #weather{
		font-size: 18px;
}
@media screen and (max-width:985px){
	#weatherWrapper{
		display: none;
	}
}
@media screen and (min-width:600px) and (max-width:1024px){
		
}
@media screen and (min-width:1024px){

}
@media screen and (min-width:600px) and (max-width:1240px){
	#source{
		display: none;
	}
}
#source{
	font-size: 14px;
}

#border_bottom{
	height: 1px;
	width: 100%;
	margin-top: 10px;
	background: #555;
}

/*小月曆 僅在650px以下出現*/
@media screen and (min-width: 650px){
#smallCal, #wrapper .back{
	display: none;
	}
}
@media screen and (max-width: 650px){
#smallCal {
	position: absolute;
	top: 220px;
	left: 0;
	right: 0;
	margin: auto;
	transform: scale(1.3);
}
#smallCal img {
    width: 100%
}

#wrapper .back{
	display: block;
	width: 100%;
	height: 320px;
	background-color: transparent;
}

#smallCal .anim04c {
    -webkit-transition: all .4s cubic-bezier(.5, .35, .15, 1.4);
    transition: all .4s cubic-bezier(.5, .35, .15, 1.4);
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    overflow-x: hidden;
    overflow-y: auto;
}
/*-----*/

.outer {
    position: relative;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    /*cursor: pointer;*/
}
/*-----*/

.signboard {
    width: 100px;
    height: 100px;
    margin: auto;
    color: #fff;
    border-radius: 10px;
}
/*-----*/

.front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #ffc116;
    text-align: center;
}
.smallright {
    position: absolute;
    right: : 0;
    z-index: 2;
    -webkit-transform: rotate(-10deg) translate(7px, 8px);
    -moz-transform: rotate(-10deg) translate(7px, 8px);
    -ms-transform: rotate(-10deg) translate(7px, 8px);
    -o-transform: rotate(-10deg) translate(7px, 8px);
    transform: rotate(-10deg) translate(7px, 8px);
    background: #00ffae;
}
.left {
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transform: rotate(5deg) translate(-4px, 4px);
    -moz-transform: rotate(5deg) translate(-4px, 4px);
    -ms-transform: rotate(5deg) translate(-4px, 4px);
    -o-transform: rotate(5deg) translate(-4px, 4px);
    transform: rotate(5deg) translate(-4px, 4px);
    background: #3498DB;
}

.outer .inner {
    -webkit-transform: rotate(0) translate(0) scale(0.9);
    -moz-transform: rotate(0) translate(0) scale(0.9);
    -ms-transform: rotate(0) translate(0) scale(0.9);
    -o-transform: rotate(0) translate(0) scale(0.9);
    transform: rotate(0) translate(0) scale(0.9);
}
.outer .front .date {
    -webkit-transform: scale(2);
}
.outer .front .day,
.outer .front .month {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.outer .smallright {
    -webkit-transform: rotate(-5deg) translateX(80px) scale(0.9);
    -moz-transform: rotate(-5deg) translateX(80px) scale(0.9);
    -ms-transform: rotate(-5deg) translateX(80px) scale(0.9);
    -o-transform: rotate(-5deg) translateX(80px) scale(0.9);
    transform: rotate(-5deg) translateX(80px) scale(0.9);
}
.outer .left {
    -webkit-transform: rotate(5deg) translateX(-80px) scale(0.9);
    -moz-transform: rotate(5deg) translateX(-80px) scale(0.9);
    -ms-transform: rotate(5deg) translateX(-80px) scale(0.9);
    -o-transform: rotate(5deg) translateX(-80px) scale(0.9);
    transform: rotate(5deg) translateX(-80px) scale(0.9);
}
/*-----*/

.outer .calendarMain {
    -webkit-transform: scale(1.8);
    opacity: 0;
    visibility: hidden;
}
.outer .clock {
    -webkit-transform: scale(1.4);
    opacity: 1;
    visibility: visible;
}
.outer .calendarNormal {
    bottom: -30px;
    opacity: 1;
    visibility: visible;
}
.outer .year {
    top: -30px;
    opacity: 1;
    visibility: visible;
    letter-spacing: 3px;
}
/*-----*/

.calendarMain {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}
.month,
.day {
    font-size: 10px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.date {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
}
/*-----*/

.clock {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 40px;
    line-height: 100px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /*opacity: 0;*/
    visibility: hidden;
}
/*-----*/

.year {
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0;
    text-align: center;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    color: #ff6600;
}
.calendarNormal {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /*opacity: 0;*/
    /*visibility: hidden;*/
}
.date2 {
    color: #ff726b;
}
.day2 {
    color: #3498DB;
}
.month2 {
    color: #EFC94C;
}

}
#smallActivityRow *{
	/*outline: 1px solid red;*/
}
#smallActivityRow{
	width: 70%;
	height: 100%;
	position: absolute;
	top:70%;
	left:18%;
	/*background-color: blue;*/
	
}
#smallActivityRow .title{
	position: absolute;
	top:20%;
	left:30%;
	font-size: 20px;
	font-family: 微軟正黑體;
	color: azure;
	border-bottom: 1px solid lightgray;
	padding-bottom: 3px;
}
#smallActivityRow .content{
	/*background-color: red;*/
	position: absolute;
	width: 100%;
	height: 40%;
	top:45%;
	left:0;
	font-size: 16px;
	color: white;
}
#smallActivityRow .content span{
	display: block;
	margin: 3px 0;
	font-family: 微軟正黑體;

}#smallActivityRow .content .name{
	font-size: 18px;
	color: #ffcc00;
	margin-top: 20px;
}
#smallActivityRow .content .time,
#smallActivityRow .content .location{
	display: inline-block;
	font-size: 14px;
}