@font-face{
	font-family: Transformers Movie;
	src: url("Transformers Movie.ttf");
}


#section3{
	background-color: black;
}

#wrapper{
	padding-top: 8%;
	width: 100%;
	height: 100%;
}
@media screen and (max-width:550px){
	#wrapper{
		padding-top: 8vh;
	}
}

#calWrapper{
	width: 80%;
	max-width: 1440px;
	/*min-width: 400px;*/
	margin: 0 auto;
	margin-bottom: 50px;
}
@media screen and (max-width:550px){
	*{
	/*outline: 1px solid blue;*/
	}
	#calWrapper{
		width: 100%;
		height: 86vh;
		margin-top: 6vh;
		margin-left: 0;
		position: relative;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#calWrapper{
		width: 95%;
		height: 100vh;
		margin-top: 5%;
		margin-left: 2.5%;
	}
}
@media screen and (min-width:1024px){

}

#calRight{
/*==========================*/
	width: 15%;
	display: inline-block;
	text-align: center;
}
#showToday{
	width: 100%;
}
@media screen and (max-width:550px){
	#calRight{
		width: 102%;
		height: 13vh;
		position: absolute;
		left: -1%;
		bottom: 0;
		text-align: center;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#calRight{
		width: 10%;
	}
}
@media screen and (min-width:1024px){

}

#showMonth{
	font-size: 32px;
	margin: 0;
	color: white;
	font-family: Inconsolata;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
}

#calRight .fa{
	text-align: center;
	font-size: 30px;
	margin: 10px;
	color: white;
	transform: scale(2);
	cursor: pointer;
	vertical-align: middle;
}
@media screen and (max-width:550px){
	#showToday{
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}
	#showMonth{
		font-size: 24px;
		float: left;
		width: 50%;
		height: 24px;
		vertical-align: top;
		border: 1px solid transparent;
		margin-top: -5px;
	}
	#prevMonth, #nextMonth{
		width: 10%;
		float: left;
		text-align: center;
		transform: rotate(-90deg);
		vertical-align: top;
		height: 20px;
		border: 1px solid transparent;
	}#prevMonth{
		margin-left: 15%;
		padding-left: 0;
		text-align: center;
	}#nextMonth{
		text-align: center;
		padding-top: 0;
	}
	#calRight .fa{
		margin: 0;
		vertical-align: middle;
		z-index: 4;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:550px) and (max-width:1240px){

}
@media screen and (min-width:1240px){
	#showMonth{
		font-size: 18px;
		width: 60%;
	}
}

#icons{
	text-align: left;
	margin-top: 20px;
	width: 100%;
}
@media screen and (max-width:550px){
	#icons{
		width: 100%;
		height: 30%;
		margin-top: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}


#selectActivityClass{
	list-style: none;
	width: 100%;
	padding-left: 0;
	text-align: center;
	margin-top: 30px;
}
@media screen and (max-width:550px){
	#selectActivityClass{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}

#selectActivityClass li{
	width: 80%;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid transparent;
	vertical-align: middle;
}
@media screen and (max-width:550px){
	#selectActivityClass li{
		margin: 0;
		width: 24.1%;
		padding: 8px;
		display: inline-block;
		box-shadow: 0 0 10px orange;
	}#selectActivityClass li img{
		width: 30%;
		height: auto;
		vertical-align: middle;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#selectActivityClass li{
		height: 46px;
		width: 100%;
		display: inline-block;
	}
}
@media screen and (min-width:1024px){

}

#selectActivityClass li span{
	font-size: 18px;
	font-family: 微軟正黑體;	
	vertical-align: middle;
	color: azure;
}
@media screen and (max-width:550px){
	#selectActivityClass li span{
		display: none;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#selectActivityClass li span{
		display: none;
	}
}
@media screen and (min-width:1024px) and (max-width:1240px){
	#selectActivityClass li span{
		font-size: 14px;
	}
}
@media screen and (min-width:1240px){

}

#selectActivityClass img{
	width: 36px;
	padding: 5px;
	vertical-align: middle;
}
@media screen and (max-width:550px){
	#selectActivityClass img{
		padding: 0;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px) and (max-width:1240px){
	#selectActivityClass img{
		width: 30px;
	}
}
@media screen and (min-width:1024px){

}


/*========================*/
#cal{
	width: 66%;
	/*min-width: 400px;*/
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	user-select: none;
}

#cal table{
	width: 100%;
	height: 85%;
	max-height: 100px;
	text-align: left;
	margin: 0 auto;
	user-select: none;
	background: linear-gradient(to bottom,#404040 0% ,#dedede 5%);
	border-collapse: separate;
	border-spacing: 0px 5px;
}

#cal #dayRow td{
	font-size: 20px;
	font-family: 'Share Tech Mono', monospace;
	letter-spacing: 2px;
	height: 8%;
	width: 14.28571428571429%;
	color: azure;
	font-weight: 900;
	border: none;
	text-align: center;
	vertical-align: middle;
	background-color: #404040;
	box-shadow: 1px 1px 5px black;
	border-left: none;	
	border-spacing: 0px 0px;
}

@media screen and (max-width:550px){
	#cal{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 75%;
	}.calFadeOut{
		opacity: 0.3;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}

#cal .daysHere{
	width: 0.5%;
	height: 12px;
	font-size: 16px;
	padding-top: 5px;
	vertical-align: middle;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-align: center;
	cursor: pointer;
	color: navy;
	position: relative;
	transition: .5s;
	border-top: 1px solid lightgray;
}

#cal .claContent{
	font-size: 12px;
	width: 10%;
	height: 45px;
	min-width: 20px;
	color: #2270a6;
	font-family: 微軟正黑體;
	opacity: 0;
	line-height: 1.5;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 10px;
}@media screen and (max-width:400px){
	#cal .claContent{
		height: 25px;
	}
}
@media screen and (max-width:550px){
	#cal .claContent{
		padding-left: 1px;
		padding-bottom: 1px;
		line-height: 1.3;
		overflow-y: hidden;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#cal .claContent{
		padding-left: 5px;
		padding-bottom: 5px;		
	}
}
@media screen and (min-width:1024px){

}
#cal .claContent span{
	font-size: 12px;
	line-height: 5;
	color: white;
	border: none;
	vertical-align: bottom;
}



/*============================*/
#showActivityWrapper{
	display: inline-block;
	width: 18%;
	font-family: "微軟正黑體";
	font-size: 16px;
	padding-left: 20px;
	padding-right: 0;
	vertical-align: top;
	color: lightgray;
	position: relative;
}
@media screen and (max-width:550px) and (max-width:1024px){
	#showActivityWrapper{
		position: absolute;
		width: 90%;
		height: 50%;
		top: 0;
		bottom: 0;
		right: -200%;
		left: 0;
		margin: auto;
		z-index: 2;
		background-color: #333;
		border: 2px solid #35ffea;
		padding: 20px;
	}
}
@media screen and (min-width:1024px){

}

#showActivityWrapper h2{
	color: lightgray;
	text-align: left;
	font-size: 24px;
	font-family: "微軟正黑體";
	margin: 0;
}

.fa-times-circle{
	opacity: 0;
}
@media screen and (max-width:550px){
	#activityClose{
		cursor: pointer;
		z-index: 3;
	}
	.fa-times-circle{
		opacity: 1;
		position: absolute;
		top: 20px;
		right: 20px;
		transform: scale(2);
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
		
}
@media screen and (min-width:1024px){

}
#showActivityWrapper table{
	width: 100%;
	margin-top: 10px;
}

#activity{
	height: 70%;
	overflow-y: scroll;
}

#activity th{
	font-size: 16px;
	padding: 2px;
	padding: 10px 0 5px 0;
	text-align: left;
}
#activity th + td{
	width: 30%;
	min-width: 50px;
}

#activity td{
	width: 100%;
	font-size: 16px;
	padding: 2px;
	color: lightgray;
}

#activityDate, #activityDay{
	font-size: 32px;
}

a.convert{
	width: 40px;
	height: 20px;
	display: block;
	padding: 4px;
	font-size: 16px;
	color: #ffc116;
	cursor: pointer;
	text-orientation: sideways;
}


#weatherWrapper{
	width: 100%;
	height: 30%;
	margin-top: 20px;
	padding-top: 10px;
	font-size: 24px;
	border-top: 1px solid azure;
}

#temperature, #weather{
		font-size: 18px;
}
@media screen and (max-width:985px){
	#weatherWrapper{
		display: none;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
		
}
@media screen and (min-width:1024px){

}
@media screen and (min-width:550px) and (max-width:1240px){
	#source{
		display: none;
	}
}
#source{
	font-size: 14px;
}

#border_bottom{
	height: 1px;
	width: 80%;
	margin-top: 10px;
	background: white;
}