#section4{
    background-color: black;
    padding-top: 8%;
}
.cont{
    width: 80%;
    max-width: 1440px;
    background-color: rgba(20,20,20 ,0.9);
    margin: 0 auto;
    height: 70vh;
    position: relative;
    background-image:  repeating-linear-gradient(transparent 0px, transparent 1px,transparent 1px, transparent 3px,rgba(0, 102, 204,0.2) 3px, rgba(0, 102, 204,0.2) 4px);
}
.cont h3{
    margin-top:5%;
    margin-bottom: 5%;
    font-family: 'Share Tech Mono', monospace;

}
.cont .bar{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
@media screen and (min-width:415px) and (max-width:1024px){
    
    

}

@media screen and (max-width:414px){
    .cont{
        box-sizing: border-box;
        margin-top: 50px;
        padding-top:10px;
        padding-bottom: 10px;
        height: 85vh;
    }
    .cont .bar{
        display: none;
    }
}




/* 左邊票卷 */
.cont .leftBox{
    width: 33.33%;
    /* min-width: 320px; */
    /*max-width: 33.33%;*/
    float: left;
    padding: 3%; 
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box; 
}
/*.leftBox RWD*/
@media screen and (min-width:415px) and (max-width:1024px){
    
    

}

@media screen and (max-width:414px){
    .cont{
        background-color:black;
    }
    .cont .leftBox{
        float: none;
        display: block;
        width: 95%;
        margin: 0 auto;
    }
}

.cont:after{
    content: "";
    display: block;
    clear: both;
}


.cont .leftBox h3{
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 1px rgb(76, 216, 221);
}
/*按鈕*/
.cont .leftBox .top_button button{
    position: relative;
    font-family: 'Share Tech Mono', monospace;
    color: rgb(76, 216, 221);
    background: transparent;
    padding: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 20px 0 20px 0;
    outline:none;
    border: 1px solid rgb(76, 216, 221);
    background-color: rgba(76, 216, 221 , 0.1);
    box-shadow: 0 0 10px rgba(0,0,255,0.5), rgba(0,0,255,0.5);
    cursor: pointer;
}
/*按鈕效果*/
.cont .leftBox .top_button button:after{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border: 2px solid rgba(76, 216, 221 , 0.6);
    transition: all .2s linear;
}
.cont .leftBox .top_button button:hover{
    background-color:rgba(76, 216, 221 , 0.9);
    color: black;
}
.cont .leftBox .top_button button:hover:after{
    width: 103%;
    height: 125%;
    border: 2px solid rgba(76, 216, 221, 0.8);
}
/*.cont .leftBox .top_button button:hover{
    color: #000;
    border: 1px solid transparent;
    background-color:rgb(76, 216, 221);
}*/




/*設施 劇場票券*/
.cont .leftBox .down_button .change{
    position: relative;
    font-family: 'Share Tech Mono', monospace;
    color: rgb(76, 216, 221);
    background: transparent;
    padding: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    outline:none;
    border: 1px solid rgb(253, 229, 17);
    background-color: rgba(253, 229, 17 ,0.1);
    box-shadow: 0 0 10px rgb(253, 229, 17), rgb(253, 229, 17);
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    color: white;
}
/*按鈕效果*/
.cont .leftBox .down_button .change:after{
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255, 193, 22,0.6);
    transition: all .2s linear;
}
.cont .leftBox .down_button .change:hover{
    background-color: rgba(255, 193, 22,0.9);
    color: black;
}
.cont .leftBox .down_button .change:hover:after{
    width: 103%;
    height: 125%;
    border: 2px solid rgba(255, 193, 22,0.8);
}
/*按鈕效果結束*/
.cont .leftBox .down_button .change a{
    font-family: 'Share Tech Mono', monospace;
    color: rgb(76, 216, 221);
}
/*左邊平板尺寸*/
@media screen and (min-width:415px) and (max-width:1024px){
    .cont .leftBox button{
        padding: 10px;
    }

    .cont .leftBox h3{
        font-size: 10px;
    }

}
/*左邊RWD手機尺寸*/
@media screen and (max-width:414px){
    .cont .leftBox button{
        margin: 0;
    }
    
    .cont .leftBox .leftContent .top_button{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .cont .leftBox .leftContent .down_button{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .cont .leftBox .leftContent .top_button button{
        border-radius: 5px;
        padding: 10px;
        margin:5px 5px;
        /* width: 35%; */
        /* float: left; */
        /* background: #fff; */
    }   
    .cont .leftBox .leftContent{
        float: none;
        display: block;
        max-width: 100%;
    }

    .cont .leftBox{
        padding: 0;
    }

    .cont .leftBox  .down_button .change{
        border-radius: 5px;
        /*padding: 5px;*/
        text-align: center;
        width: 45%;
    }

}






/* 中間區塊 */
.cont .midBox{
    width: 33.333%; 
    /*min-width: 300px;*/
    float: left;
    box-sizing: border-box;
    padding: 2% 0px 4% 0px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*========前往樂園*/
.cont .midBox .midContent_1{
    width: 100%;  
    position: absolute;
    
}
.cont .midBox  .pic{
    width: 100%;
    height: 240px;
    overflow: hidden;
         
}
/*.cont .midBox .midContent_1 .pic{
     width: 100%;  
}
.cont .midBox .midContent_1 .pic .map{
     width: 100%;  
}*/
.cont .midBox .midContent_1 .pic .map iframe{
    width: 100%;
}



/*========如何購票*/
.cont .midBox .midContent_2{
    width: 100%;
    position: absolute;
    display: none;
    
}

.cont .midBox  .pic img{
     width: 80%;
     
         
}

/*========票券模式*/
.cont .midBox .midContent_3{
    min-width: 100%;  
    position: absolute;
    display: none;
}
.cont .midBox .midContent_3 .pic{
     width: 100%;
}
.cont .midBox .midContent_3 .pic .right{
    margin: 0 auto;
    width: 50%;
}
.cont .midBox .midContent_3 .pic .right img{
    width: 100%;
}


.cont .midBox:after{
    content:"";
    display: block;
    clear: both;
}

.cont .midBox h3{
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 1px rgb(76, 216, 221);
}


 .cont .midBox p{
     line-height: 30px;
     font-size: 18px;
     color: rgb(219, 219, 219);
 }

 .cont .midBox  hr {
    position: relative;
    height: 1em;
    color: rgb(76, 216, 221);
    border-color:rgb(76, 216, 221);
    background-color:rgb(76, 216, 221);
    margin:15px 0 15px 0;
   
}
 .cont .midBox  hr:after{
    content: "***********";
    position: absolute;
    top: 0;
    left: 0;
    color:#000;
    text-align: center;
    width: 100%;
    z-index: 10;
 }
 /*中間平板尺寸*/
@media screen and (min-width:415px) and (max-width:1024px){
    .cont .midBox h3{
        font-size: 10px;
    } 
}
/*中間手機尺寸*/
@media screen and (max-width:414px){ 
    .cont .midBox{
        width: 100%;
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        padding-top: 20px;
    }
    .cont .midBox h3{
        display: none;
    }
    .cont .midBox  .pic{
        padding-top: 30px;
        
    }
    .cont .midBox  .pic img{
     width: 90%;   
    }

}



 
/* 右邊區塊 */

.cont .rightBox{
    width: 33.333%;
    /*min-width: 300px;*/
    padding: 3%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
.cont .rightBox h3{
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 1px rgb(76, 216, 221);
}

/* 掃描 */
.cont .rightBox .visual1 {
    width: 100%;
    padding-bottom: 55%;
    border: 1px solid rgb(76, 216, 221);
    position: relative;
    margin-bottom: 15px;
    background-color: rgba(76, 216, 221 , 0.2);
    
}

.cont .rightBox .visual1:after, .cont .rightBox .visual1:before {
    position:absolute;
    top: 0;
    left: 0;
}
.cont .rightBox .visual1 img{
    position: absolute;
    width: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.cont .rightBox .visual1:after {
    content: "";
    display: block;
    border-bottom:3px solid rgb(76, 216, 221);
    width: 100%;
    height: 1%;
    animation: scanTwo 8s infinite  linear;
}
.cont .rightBox .visual1:before { 
    content: "";
    display: block;
    border-right: 3px solid rgb(76, 216, 221);
    height: 100%;
    width: 1%;
    animation: scanTwo 3s infinite alternate linear;
    z-index: 99;
}
.cont .rightBox .visual2 {
    width: 100%;
    padding-bottom: 55%;
    border: 2px solid  rgb(76, 216, 221);
    position: relative;
    margin-bottom: 10px;
     background-color: rgba(76, 216, 221 , 0.2);
}
/* 手機 */
.cont .rightBox .visual2 img{
    position: absolute;
    width: 25%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
/* 橢圓 */
.cont .rightBox .visual2 .circle{
    top: 50%;
    left: 15%;
    width: 70%;
    z-index: 99;
    animation: spin 5s infinite  linear;
}


/* s */
.cont .rightBox .visual2:before{
    animation: spin 2.5s infinite linear;
}
/* .visual2:after{
    animation: spin 4s infinite linear alternate;
} */

/*右邊平板尺寸*/
@media screen and (min-width:415px) and (max-width:1024px){
    .cont .rightBox .visual1{
        padding-bottom: 73%;
    }
    .cont .rightBox .visual2{
        padding-bottom: 73%;
    }
    .cont .rightBox h3{
        font-size: 10px;
    }
}
/*右邊手機尺寸*/
@media screen and (max-width:414px){
    .rightBox{
       display: none;
    }

}

@keyframes flicker {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blipIn {
    0% {
        height: 0;
    }
    100% {
        height: auto;
    }
}

@keyframes spin {
    0% {
        transform:  translateY(-60px);
    }
    50%{
        transform:  translateY(40px);
    }
    100% {
        transform:  translateY(-60px);
    }
 }

@keyframes scanTwo {
    0% {
    }
    100% {
        height: 100%;
        width: 100%;
    }
}

@keyframes twitch {
    0% {
        padding: 20px;
    }
    50% {
        padding: 20px;
    }
    51% {
        padding: 19px;
    }
    50% {
        padding: 20px;
    }
    100% {
        padding: 20px;
    }
}