*{
	box-sizing: border-box;
	/*outline: 1px solid red;*/
}
body{
	background-color:#ccc;
	/*overflow-x: hidden;*/
}
header{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 15%;
	height: 100vh;
	background-color: #222;
	color:#47bbe2;
	font-family: "微軟正黑體";
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
@media screen and (max-width:1024px) {
	body{
		overflow: hidden;
	}
	header{
		top:34px;
		left: 10px;
		width: 40px;
		height: 40px;
		position: fixed;
	}
	#not-check-ticket{/*===============重要=====================*/
		display: none;
	}
}

header .logo{
	text-align: center;
	width: 80%;
	margin: 10% auto 1% auto;
	letter-spacing: 2px;
	font-weight: bold;
}
header .logo img{
	width: 100%;
}
#ham{
	display: none;
}
@media screen and (max-width:1024px) {
	header .logo{
		margin: 0;
		top:33px;
		left:50%;
		transform: translateX(-50%);
		width: 160px;
		position: fixed;
	}
	header .logo span{
		display: none;
	}
	#ham{
		display: block;
		width: 100%;
	}
}

header .nav{
	margin-top:8vh;
	height: 90%;
	text-align: center;
}
header .nav .navList{
	width: 75%;
	margin: 5% auto;
	position: relative;
	
}
header .nav .navList .listcover{
	display: block;
	position: absolute;
	z-index: -1;
	top:0;
	left: 0;
	width: 3%;
	height: 100%;
	background-color: rgba(90, 230, 219,0.5);
	transition: width 0.3s ease-in;
	/*transition: .5s ease;*/
}
header .nav .navList a{
	display: block;
	padding: 5% 0;
	text-decoration: none;
	color: rgba(90, 230, 219,0.9);
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: color 0.2s ease-in;
}
header .nav .navList a:hover~.listcover{
	width: 100%;
	height: 100%;
	background-color: rgba(90, 230, 219,0.9);
}
header .nav .navList a:hover{
	color: black;
	font-weight: bold;
}
@media screen and (max-width:1024px){
	header .nav{
		margin-top:0;
		top:80px;
		left: -100%;
		width: 100%;
		height: 90vh;
		z-index: -1;
		position: fixed;
		background-color: #444;
		transition: .2s linear;
	}
	header #nav.nav{
		left: 0;
	}
	header .nav .navList{
		width: 100%;
		margin: 20px auto;
	}
	header .nav .navList:nth-child(2)~.navList{
		display: none;
	}
	header .nav .navList .listcover{
		transition : none;
	}
	header .nav .navList a{
		padding: 15px 10px;
	}
}
.loginBox{
	z-index: 100;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	text-align: right;
	width: 100%;
	padding: 8px;
	height: 32px;
	background-color: #222;
	color: white;
	font-family: "微軟正黑體";
}
.loginBox a{
	text-decoration: none;
	padding: 0 5px;
	color: rgba(90, 230, 219,0.9);
}
.loginBox span{
	padding: 0 5px;
}
@media screen and (max-width:1024px){
	.mobileLoginBox{
		font-size: 16px;
		width: 100%;
		height: 80px;
	}
	#hello{
		display: none;
	}
	#managerId{
		display: none;
	}
}
/*NAVCSS結束*/
.b_content{
	width:100%;
	/*overflow-x: auto;*/
	/*height:100vh;*/
	background-color:#ccc;
	padding:100px 0 0 15%;
}
@media screen and (max-width:1024px) {
	.b_content{
		padding:0;
	}
}

.b_sub_nav{
	position:fixed;
	z-index: 5;
	top:30px;
	left:15%;
	width: 100%;
	background-color:#101;
	height: 45px;
	padding-top:10px;
}
@media screen and (max-width:1024px) {
	.b_sub_nav{
		position: relative;
		top:50px;
		left: 0;
		background-color:transparent;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}

/*.b_inner_content{
	padding-top: 75px;
}*/
.b_sub_nav .b_sn_btn{
	text-decoration:none;
	color:#111;
	display:block;
	float:left;
	background-color:#999;
	height:35px;
	line-height:35px;
	padding:0 20px;
	box-shadow: 1px -2px 2px #333;
	border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	position:relative;
	font-family:"微軟正黑體";
	z-index:8;
}
@media screen and (max-width:1024px) {
	.b_sub_nav .b_sn_btn{
		display: none;
	/*	float: none;
		width: 40%;
		height: 150px;
		text-align: center;
		line-height: 150px;
		display: inline-block;
		padding: 0;
		border-radius: 6px;
		box-shadow:none;
		background-color:#ccc;
		border: 1px solid #333;
		font-size: 36px;
		letter-spacing: 4px;*/
	}
}

.b_sub_nav .b_sn_btn:nth-child(2){
	z-index:7;
}
.b_sub_nav .b_sn_btn:nth-child(3){
	z-index:6;
}

.b_sub_nav #active.b_sn_btn{
	color:#111;
	background-color:#ccc;
	height:35px;
	line-height:35px;
	padding:0 20px;
	box-shadow: 1px -2px 2px #333;
	position:relative;
	font-family:"微軟正黑體";
	z-index:15;
}
@media screen and (max-width:1024px) {
	.b_sub_nav #active.b_sn_btn{
	/*	background-color:rgb(102, 102, 102);
		line-height: 150px;
		height: 150px;
		box-shadow:none;
		color: #fff;*/
	}
	#RWD-page{
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		background-color: #ccc;
		color: #000;
		font-size:40px;
		line-height:300px;
		text-align: center;
		font-family: "微軟正黑體";
	}
	#RWD-page span{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}

}

.b_sub_nav #active.b_sn_btn:nth-child(2){
	border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
}
.b_sub_nav #active.b_sn_btn:nth-child(3){
	border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
}
.b_sub_nav .b_sn_btn:first-child~*{
	margin-left:-5px;
}
.b_sub_nav .b_sn_btn:hover{
	background-color:#bbb;
}
.b_sub_nav .active:hover{
	background-color:#ccc;
}

/*=================右邊區塊固定格式SUBNAVEND===================*/
