@font-face{
	font-family: Transformers Movie;
	src: url("Transformers Movie.ttf");
}

*{
	/*border: 1px solid red;*/
}

#wrapper{
	padding-top: 8%;
	width: 100%;
	height: 100%;
}

#calWrapper{
	width: 75%;
	margin-left: 10%;
	max-width: 1440px;
	min-width: 400px;
	/*margin: 0 auto;*/
	margin-bottom: 50px;
}
@media screen and (max-width:550px){
	*{
	/*outline: 1px solid blue;*/
	}
	#calWrapper{
		width: 100%;
		height: 86vh;
		margin-top: 3vh;
		margin-left: 0;
		position: relative;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#calWrapper{
		width: 90%;
		height: 70vh;
		margin-top: 5%;
		margin-left: 2.5%;

	}
}
@media screen and (min-width:1024px){

}

#calRight{
/*==========================*/
	width: 15%;
	display: inline-block;
	text-align: center;
}
#showToday{
	width: 100%;
}
@media screen and (max-width:550px){
	#calRight{
		width: 102%;
		height: 13vh;
		position: absolute;
		left: -1%;
		bottom: 0;
		text-align: center;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#calRight{
		width: 15%;
	}
}
@media screen and (min-width:1024px){

}

#showMonth{
	font-size: 32px;
	margin: 0;
	color: white;
	font-family: Inconsolata;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
}

#calRight .fa{
	text-align: center;
	font-size: 30px;
	margin: 10px;
	color: white;
	transform: scale(2);
	cursor: pointer;
	vertical-align: middle;
}
@media screen and (max-width:550px){
	#showToday{
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}
	#showMonth{
		font-size: 24px;
		float: left;
		width: 50%;
		height: 24px;
		vertical-align: top;
		border: 1px solid transparent;
		margin-top: -5px;
	}
	#prevMonth, #nextMonth{
		width: 10%;
		float: left;
		text-align: center;
		transform: rotate(-90deg);
		vertical-align: top;
		height: 20px;
		border: 1px solid transparent;
	}#prevMonth{
		margin-left: 15%;
		padding-left: 0;
		text-align: center;
	}#nextMonth{
		text-align: center;
		padding-top: 0;
	}
	#calRight .fa{
		margin: 0;
		vertical-align: middle;
		z-index: 4;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:550px) and (max-width:1240px){

}
@media screen and (min-width:1240px){
	#showMonth{
		font-size: 28px;
		width: 100%;
		text-align: center;
	}
}

#icons{
	text-align: left;
	margin-top: 20px;
	width: 100%;
}
@media screen and (max-width:550px){
	#icons{
		width: 100%;
		height: 30%;
		margin-top: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}


#selectActivityClass{
	list-style: none;
	width: 100%;
	padding-left: 0;
	text-align: center;
	margin-top: 30px;
}
@media screen and (max-width:550px){
	#selectActivityClass{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}

#selectActivityClass li{
	width: 80%;
	margin-left: 10%;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	padding: 2px;
	border: 1px solid transparent;
	vertical-align: middle;
}
@media screen and (max-width:550px){
	#selectActivityClass li{
		margin: 0;
		width: 24.1%;
		padding: 8px;
		display: inline-block;
	}#selectActivityClass li img{
		width: 30%;
		height: auto;
		vertical-align: middle;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#selectActivityClass li{
		height: 46px;
		width: 100%;
		display: inline-block;
	}
}
@media screen and (min-width:1024px){

}

#selectActivityClass li span{
	font-size: 18px;
	font-family: 微軟正黑體;	
	vertical-align: middle;
	color: azure;
}
@media screen and (max-width:550px){
	#selectActivityClass li span{
		display: none;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#selectActivityClass li span{
		display: none;
	}
}
@media screen and (min-width:1024px) and (max-width:1240px){
	#selectActivityClass li span{
		font-size: 14px;
	}
}
@media screen and (min-width:1240px){

}

#selectActivityClass img{
	width: 36px;
	padding: 5px;
	vertical-align: middle;
}
@media screen and (max-width:550px){
	#selectActivityClass img{
		padding: 0;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px) and (max-width:1240px){
	#selectActivityClass img{
		width: 30px;
	}
}
@media screen and (min-width:1024px){

}



#cal{
/*========================*/
	width: 85%;
	min-width: 400px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	position: relative;
	user-select: none;
}

#cal table{
	width: 100%;
	height: 85%;
	max-height: 100px;
	text-align: left;
	margin: 0 auto;
	user-select: none;
	background: linear-gradient(to bottom,#404040 0% ,#dedede 5%);
	border-collapse: separate;
	border-spacing: 0px 5px;
}

#cal #dayRow td{
	font-size: 20px;
	font-family: 'Share Tech Mono', monospace;
	letter-spacing: 2px;
	height: 8%;
	width: 14.28571428571429%;
	color: azure;
	font-weight: 900;
	border: none;
	text-align: center;
	vertical-align: middle;
	background-color: #404040;
	box-shadow: 1px 1px 5px black;
	border-left: none;	
	border-spacing: 0px 0px;
}

@media screen and (max-width:550px){
	#cal{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		height: 75%;
	}.calFadeOut{
		opacity: 0.3;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	
}
@media screen and (min-width:1024px){

}

#cal .daysHere{
	width: 0.5%;
	height: 12px;
	font-size: 16px;
	padding-top: 5px;
	vertical-align: middle;
	font-family: 'Share Tech Mono', monospace;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-align: center;
	cursor: pointer;
	color: navy;
	position: relative;
	transition: .5s;
	border-top: 1px solid lightgray;
}

#cal .claContent{
	font-size: 16px;
	height: 55px;
	min-width: 20px;
	color: #2270a6;
	font-family: 微軟正黑體;
	opacity: 0;
	text-align: left;
	padding-left: 5px;
	padding-bottom: 5px;
}
@media screen and (max-width:550px){
	#cal .claContent{
		padding-left: 1px;
		padding-bottom: 1px;
		height: 50px;
		line-height: 1.3;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#cal .claContent{
		padding-left: 5px;
		padding-bottom: 5px;		
	}
}
@media screen and (min-width:1024px){

}
#cal .claContent span{
	font-size: 12px;
	line-height: 5;
	color: white;
	border: none;
	vertical-align: bottom;
}

.fa-times-circle{
	opacity: 0;
}
@media screen and (max-width:550px){
	#activityClose{
		cursor: pointer;
		z-index: 3;
	}
	.fa-times-circle{
		opacity: 1;
		position: absolute;
		top: 20px;
		right: 20px;
		transform: scale(2);
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
		
}
@media screen and (min-width:1024px){

}

#weatherWrapper{
	width: 100%;
	height: 30%;
	margin-top: 20px;
	padding-top: 10px;
	font-size: 24px;
	border-top: 1px solid azure;
}

#temperature, #weather{
		font-size: 18px;
}
@media screen and (max-width:550px){
	#weatherWrapper{
		display: none;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
		
}
@media screen and (min-width:1024px){

}
@media screen and (min-width:550px) and (max-width:1240px){
	#source{
		display: none;
	}
}
#source{
	font-size: 14px;
}

#border_bottom{
	height: 1px;
	width: 80%;
	margin-top: 10px;
	background: white;
}

/*活動頁面css*/
@font-face {
  font-family: Inconsolata;
  src: url("Inconsolata-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 0;
  /*border: 1px solid red;*/
  box-sizing: border-box;
  color: white;
  font-family: Inconsolata, 微軟正黑體; }

body{
  background-color: #111;
  /*position: relative;*/
}


#showDate {
  width: 70%;
  margin: 0 auto;
  margin-left: 15%;
  margin-top: 10px;
  text-align: left;
  display: inline-block;
  font-family: Inconsolata, 微軟正黑體;
  font-size: 32px;
  padding: 5px;

}


#activityDay{
  font-size: 32px; 
  color: white;
}

#shiftMode {
  display: inline-block;
  float: right;
  font-size: 16px;
}

.mode {
    width: 50px;
    height: 45px;
    font-size: 16px;
    float: right;
    font-family: ;
    display: inline-block;
    margin: 3px 0 5px 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: orange;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.mode:hover{
  transform: scale(1.2);
}

.actHr {
  width: 70%;
  margin: 30px auto;
  background-color: #35ffea;
  opacity: 0.3;
  outline: none;
  height: 1px;
  box-shadow: none;
  }

#showRow {
  padding:20px;
  width: 70%;
  margin-left: 15%;
  display: inline-block;
  font-family: Inconsolata, 微軟正黑體;
   }
#showRowUnitWrapper{
	width: 100%;
	color: white;
	font-size: 16px;
}
.showRowText{
	padding: 5px 10px;
	font-size: 16px;
	color: azure;
	min-width: 100px;
	width: 100%;
	display: inline-block;
}.showRowDiv{
	display: block;
	width: 100%;
}



.acTime{
	width: 20%;
}.acTitle{
	width: 20%;
}.acLoc{
	width: 20%;
}.acIntro{
	width: 40%;		
}
@media screen and (max-width:415px){
	.acTime{
		width: 40%;
	}.acTitle{
		width: 30%;
	}.acLoc{
		width: 30%;
	}.acIntro{
		width: 100%;
	}
}
@media screen and (min-width:415px) and (max-width:1024px){

}
@media screen and (min-width:1024px){

}


.recommendAct{
	width: 70%;
	margin: 0 auto;
	font-size: 32px;
	color: azure;
}
.blocktitle{
	font-size: 32px;
	color: azure;
	margin: 20px 0;
}


.blocks{
  width: 12px;
  height: 10px;
  display: inline-block;
  box-shadow: 1px 1px 5px blue inset;
}

.inline{
    width: 34px;
    height: 3px;
    box-shadow: 1px 1px 5px blue inset;
    margin: 5px 0 8px 3px;
}

@media screen and (max-width:550px){
	#showRow,#showDate,.recommendAct,.actHr{
		width: 100%;
		margin-left: 0;
	}.recommendAct,.actHr{
		width: 50%;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#showRow,#showDate{
		width: 90%;	
		margin-left: 5%;
	}.recommendAct,.actHr{
		width: 90%;
	}
}
@media screen and (min-width:1024px){

}



/* Tiny Circleslider */
img { border: 0; }

#rotatescroll {
	height:300px; 
	width:300px;
	position: relative;
	display: inline-block;
	/*margin-left: 100px;*/
}

#rotatescrollBox{
	display: inline-block;
	width: 65%;
	height: 300px;
	float: right;
	position: relative;
	overflow-x: hidden;
	background-image: url(../img/activity/rotatescrollBox.png);
	-webkit-background-size: auto;
	background-size: cover;
	background-repeat: no-repeat;
}

#rotatescrollBoxWrapper{
	width: 500%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.rotatescrollBox{
	width: 100%;
	height: 100%;
	font-size: 24px;
	position: absolute;
	top: 0;
}.rotatescrollBox:nth-child(odd){
	
}.rotatescrollBox:nth-child(even){
	
}.rotatescrollBox:nth-child(1){
	left:0;
	background-image: url(../img/activity/hdr1.jpg);
	-webkit-background-size: auto;
	background-size: contain;
	background-repeat: no-repeat;
}.rotatescrollBox:nth-child(2){
	left:100%;
	background-image: url(../img/activity/hdr2.jpg);
	-webkit-background-size: auto;
	background-size: contain;
	background-repeat: no-repeat;
}.rotatescrollBox:nth-child(3){
	left:200%;
	background-image: url(../img/activity/hdr3.jpg);
	-webkit-background-size: auto;
	background-size: contain;
	background-repeat: no-repeat;
}.rotatescrollBox:nth-child(4){
	left:300%;
	background-image: url(../img/activity/hdr4.jpg);
	-webkit-background-size: auto;
	background-size: contain;
	background-repeat: no-repeat;
}.rotatescrollBox:nth-child(5){
	left:400%;
	background-image: url(../img/activity/hdr5.jpg);
	-webkit-background-size: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

#rotatescroll .viewport{
	height:300px; 
	position: relative; 
	margin:0 auto; 
	overflow:hidden; 
	width:300px; 
	pointer-events: none;
}
#rotatescroll .overview {
	position: absolute; 
	width: 798px; 
	list-style: none; 
	margin: 0; 
	padding: 0;  
	left: 0; 
	top: 0;
}
#rotatescroll .overview li {
	height:300px; 
	width:300px; 
	float: left; 
	position: relative; 
}
#rotatescroll .overlay {
	background:url(../img/activity/bg-rotatescroll.png) no-repeat 0 0; 
	pointer-events: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
	height:300px; 
	width:300px; 
}
#rotatescroll .thumb {
	background:url(../img/activity/bg-thumb.png) no-repeat 50% 50%; 
	touch-action: none; 
	-ms-touch-action: none; 
	position: absolute;
	top: -3px; 
	left: 37px; 
	width: 100px; 
	height: 100px;
	z-index: 200;  
	cursor: pointer;
	/*margin-right: 100px;*/
}
#rotatescroll .dot {
	/*background:url(../img/activity/bg-dot.png) no-repeat 0 0;*/
	display: none; 
	height: 12px; 
	width: 12px; 
	position: absolute; 
	left: 155px; 
	top: 3px; 
	z-index: 100; 
}
#rotatescroll .dot span {
	display: none;
}


/*style.css*/
#da-thumbs{
  width: 100%;
}
#da-thumbs ul{
  list-style: none;
  width: 10%;
  position: relative;
  margin: 20px auto;
  padding: 0;
  margin-bottom: 100px;
}

#da-thumbs li {
  background: #5AE6DB;
  padding: 4px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#da-thumbs li a,
#da-thumbs li a img {
  height: 100%;
  display: block;
  position: relative;
}
#da-thumbs li a {
  overflow: hidden;
}
#da-thumbs li a div {
  position: absolute;
  background: #333;
  background: rgba(10,25,34,0.5);
  width: 100%;
  height: 100%;
}
#da-thumbs li a div span {
  font-size: 16px;
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

.block-mode{
  display: inline-block;
  width: 24.6%;
  height: 23%;
  margin: 0.2%;
  float: left;
}
.block-mode img{
 width: 100%;
}
.li-block-mode{
  display: block;
  width: 100%;
  height: 150px;
}.li-block-mode img{
	width: 20%;
}
#da-thumbs img{
  
  height: 100%;
}
.hahaha{
  height: 100%;
  width: auto;
}.div-block-mode{
  display: none;
}
.inline_src{
  background-image: url(../img/activity/inlineblock_mode.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}.block_src{
  background-image: url(../img/activity/block_mode.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}


@media screen and (max-width:550px){
	#da-thumbs{
		width: 100%;
		margin-left: 0%;
	}.block-mode{
		width: 49%;
		margin-left: 0.5%;
		display: block;
	}
}
@media screen and (min-width:550px) and (max-width:1024px){
	#da-thumbs{
		width: 90%;
		margin-left: 5%;
	}.block-mode{
		width: 48%;
		/*margin-left: 0.5%;*/
		display: inline-block;
	}
}
@media screen and (min-width:1024px){

}
