@font-face {
  font-family: Inconsolata;
  src: url("Inconsolata-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-size: 0;
  /*border: 1px solid red;*/
  box-sizing: border-box;
  color: white;
  font-family: Inconsolata, 微軟正黑體; }

body{
  background-color: #111;
  /*position: relative;*/
}

#scrollIcon{
  position: fixed;
  right: 10px;
  top: 35%;
  width: 60px;
  height: 100px;
  text-align: center;
  vertical-align: top;
}

#scrollIcon span{
  color: white;
  font-size: 16px;
  margin: 5px 0 20px 0;
  display: block;
}

#toCal, #toActivity{
  font-size: 40px;
  margin: 5px;
  cursor: pointer;
}

#toCal:hover, #toActivity:hover{
  transform: scale(1.2);
}

#showDate {
  width: 70%;
  margin: 0 auto;
  margin-left: 15%;
  margin-top: 10px;
  text-align: left;
  display: inline-block;
  font-family: Inconsolata, 微軟正黑體;
  font-size: 32px;
  padding: 5px;

}


#activityDay{
  font-size: 32px; 
  color: white;
}

#shiftMode {
  display: inline-block;
  float: right;
  font-size: 16px;
}

.mode {
    width: 50px;
    height: 45px;
    font-size: 16px;
    float: right;
    font-family: ;
    display: inline-block;
    margin: 3px 0 5px 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: orange;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.mode:hover{
  transform: scale(1.2);
}

hr {
  width: 70%;
  margin: 0 auto;
  background-color: #3a4ed5;
  outline: none;
  box-shadow: none;
  }

#showRow {
  width: 70%;
  margin-left: 15%;
  height: 100px;
  font-size: 16px;
  display: inline-block;
  font-family: Inconsolata, 微軟正黑體; }

.blocks{
  width: 12px;
  height: 10px;
  display: inline-block;
  box-shadow: 1px 1px 5px blue inset;
}

.inline{
    width: 34px;
    height: 3px;
    box-shadow: 1px 1px 5px blue inset;
    margin: 5px 0 8px 3px;
}


/*style.css*/
#da-thumbs{
  width: 70%;
  margin-left: 15%;
}
#da-thumbs ul{
  width: 100%;
  list-style: none;
  width: 70%;
  position: relative;
  margin: 20px auto;
  padding: 0;
}

#da-thumbs li {
  background: #5AE6DB;
  padding: 4px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#da-thumbs li a,
#da-thumbs li a img {
  height: 100%;
  display: block;
  position: relative;
}
#da-thumbs li a {
  overflow: hidden;
}
#da-thumbs li a div {
  position: absolute;
  background: #333;
  background: rgba(75,75,75,0.7);
  width: 100%;
  height: 100%;
}
#da-thumbs li a div span {
  font-size: 16px;
  display: block;
  padding: 10px 0;
  margin: 40px 20px 20px 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

.block-mode{
  display: inline-block;
  width: 23%;
  height: 23%;
  margin: 1%;
  float: left;
}
.li-block-mode{
  display: block;
  width: 100%;
  height: 150px;
}
#da-thumbs img{
  width: 100%;
  height: 100%;
}
.hahaha{
  height: 100%;
  width: auto;
}.div-block-mode{
  display: none;
}#switchBlock{
  width: 40px;
  height: 30px;
}
.inline_src{
  background-image: url(../img/activity/inlineblock_mode.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}.block_src{
  background-image: url(../img/activity/block_mode.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
}