*{
    /*outline: 1px solid red;*/
    font-family: "微軟正黑體";
}
.titleh2{
    margin: 20px 0;
    font-size:24px;
    text-align: center;
    font-family: "微軟正黑體";
}
/*新增活動*/
#insert_activity_table {
    width: 90%; 
    margin:30px auto ;
    font-size: 16px;
    font-family: "微軟正黑體";
    background-color: #dedede;
}
#insert_activity_table th{
    height: 30px;
    vertical-align: middle;
    font-size: 16px;
}
#insert_activity_table td{
    height: 40px;
    padding: 3px;
    padding-bottom: 5px;
}
#activity_name{
    width: 180px;
}
#activity_short_name{
    width: 90px;
}
#activity_location{
    width: 60px;
}
#activity_date{
    width: 50px;
}
#activity_start_time,
#activity_end_time{
    width: 50px;
}
#activity_intro{
    width: 160px;
}
#setup{
    width: 160px;
}

/*表頭*/
#history_activity_table .show_as_col,
#insert_activity_table th{
    height: 40px;
    font-family: 微軟正黑體;
    color: white;
    text-align: center;
    background-color: #222;
    vertical-align: middle;
}

.history_activity_list{
    width: 90%;
    margin: 0 auto;
}
.readOnlyStyle{
    border: none;
    background-color: transparent;
}.editStyle{
    border: 1px solid black;
    background-color: white;
}input.no{
    width: 30px;
}
input.data{
    width: 120px;
}input.input_btn{
    width: 60px;
    display: inline-block;
    background-color: aqua;
    margin: 5px 0;
    padding: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}input.input_btn:nth-of-type(2){
    background-color: #555;
    color: white;
}
td.wider{
    width: 160px;
}input{
    font-size: 16px;
    width: 90%;
}


/*歷史活動.css*/
.show_as_table{
    width: 90%;
    display: table;
    font-size: 16px;
    margin: 0 auto;
    margin-left: 5%;
}
.show_as_row{
    width: 90%;
    margin-left: 5%;
    display: table-row;
    font-size: 16px;
    background-color: #dedede;
    border-bottom: 1px solid lightblue;
}.show_as_row:nth-of-type(odd){
    /*background-color: lightblue;*/
}
.show_as_col{
    display: table-cell;
    font-size: 16px;
    height: 100%;
    padding: 3px;
}
.history_activity_list:nth-child(even) .show_as_row{
    background-color: #fafafa;
}

.date{
    width: 6%;
    padding-left: 5px;
}
.name{
    width: 18%;
}
.start, .end{
    width: 7%;
}.short{
    width: 9%;
}
.location{
    width: 10%;
}
.intro{
    width: 30%;
}
.editBtn{
    width: 25%;
    text-align: center;
}
.date input, .name input, .start input, .end input, .short input, .location input, .intro input{
    width: 90%;
}


.operating{
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border: none;
}.operating input{
    width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin: 5px;
    margin-top: 3px;
    padding-top: 7px;
    color: #ddd;
    background-color: #ff6600;
    border: none;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    font: inherit;
    font-family: 微軟正黑體;
    vertical-align: middle;
}
/*切換修改input select屬性*/
.readOnlyStyle{
    /*border: 1px solid transparent;*/
    background-color: transparent;
    color: #222;
}.editStyle{
    border: none;
    background-color: pink;
    outline: 1px solid black;
}

/*修改按鈕 切換外觀*/
.edit{
    width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin: 5px;
    padding-top: 7px;
    color: #ddd;
    background-color: #999;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    font: inherit;
    font-family: 微軟正黑體;
    vertical-align: middle;
}
.save{
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
    color: black;
    font-weight: bold;
    background-color: rgb(84,210,201);
    cursor: default;
}