*{
	margin:0;
	padding: 0;
	font-size: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
	user-select: none;
}
#managerListWrapper h2{
	font-size: 36px;
	margin:10px 0;
	font-family: 微軟正黑體;
}
#managerListWrapper{
	width: 90%;
	height: 80%;
	text-align: center;
	margin: 0 auto;
}
.managerTHH{
	width: 100%;
	background-color: #bbb;
	font-family: 微軟正黑體;
}
.managerTD,.managerTH{
	display: inline-block;
	width: 16%;
	height:40px;
	text-align: center;
	/*border: 1px solid #aaa;*/
}input{
	width: 100%;
	height: 100%;
	font-size: 16px;
	line-height: 16px;
	padding: 4px;
}
.managerTH{
	text-align: center;
	padding-top: 6px;
	height: 30px;
}
.managerTD{
	padding: 10px;
}
.managerRow .name,.managerRow .psw{
	text-align: left;
	/*text-indent: 50px;*/
}select.i_top, select.i_status{
	font-size: 16px;
}

#lulala{
	font-size: 16px;
}
.operating{
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border: none;
}.operating input{
	width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin: 5px;
    margin-top: 3px;
    padding-top: 7px;
    color: #ddd;
    background-color: #ff6600;
    border: none;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    font: inherit;
    font-family: 微軟正黑體;
    vertical-align: middle;
}

/*切換修改input select屬性*/
.readOnlyStyle{
	border: 1px solid transparent;
	background-color: transparent;
	color: black;
}.editStyle{
	border: 1px solid gray;
	background-color: white;
	outline: none;
}

/*修改按鈕 切換外觀*/
.edit{
	width: 60px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    margin: 5px;
    padding-top: 7px;
    color: #ddd;
    background-color: #999;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    font: inherit;
    font-family: 微軟正黑體;
    vertical-align: middle;
}
.save{
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
    color: black;
    font-weight: bold;
    background-color: rgb(84,210,201);
    cursor: default;
}