        table {
            border:1px solid black;
            margin:30px auto ;
            font-size: 16px;
            /*margin-left:23.7%;*/
            border-collapse: collapse ;
            font-family: "微軟正黑體";
        }
        .Newprogram button{
            /*text-align: right;*/
            font-family: "微軟正黑體";
        }
        .titleh2{
            margin:30px 30px;
            font-size:24px;
            text-align: center;
        }
        th{
            text-align:center;
            border:1px solid black; 
            padding: 10px 10px;
        }
        td{ 
            
            text-align:center;
            border:1px solid black; 
            padding: 10px 10px;
        }
        .tabcontent a{
            /*padding: 5px 10px;*/
            margin:  10px;
            /*border: 1px solid red;*/
            border-radius: 30px;
            text-decoration:none;
        }

        .okcancel button{
            margin:0 auto;
            font-family: "微軟正黑體";
        }
        .treebtn{
            width:100%;
            text-align: center;
            margin-top:5%;
            display: inline-block;
            font-family: "微軟正黑體";

        }