    @charset "UTF-8";
    /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

    * {
      margin: 0px;
      padding: 0px;
      /*outline: 1px solid red;*/ }

    body {
      font-family: "微軟正黑體", Arial ,sans-serif;
      background-color: black;
      color: #5AE6DB;
      /* background-image: url("../img/Galaxy_1.jpg");
    background-size: cover;
      */
    }
    .container {
      width:100%;
      margin: 0 auto;
      position:relative;
    }
    .Bookingh1 {
      font-size:32px;
      text-align: center;
      margin: 96px 10px;
      margin-bottom: 31px;
      color: white; }
    @media screen and (max-width:1024px) and (min-width:415px){
       .Bookingh1 {
        font-size:32px;
        text-align: center;
        margin: 106px 10px;
        margin-bottom: 31px;
        color: white; }
      }
    @media screen and (max-width:414px) {
      .Bookingh1 {
        width: 100%;
        margin-top: 92px;
        margin-left: auto;
        margin-right: auto; 
        } 
    }
    /*.memberinfosection{

    }*/
    .Bookingh2 {
      font-size:24px;
      margin: 10px 10px;
      margin-top: 50px;
      margin-left: 27%;
      color: white; 
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .Bookingh2{
        margin-left: 20%;
      }
    }
    @media screen and (max-width: 414px) {
      .Bookingh2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto; 
        } 
    }
    
    .memberinfo {
      text-align: left;
      /*margin-left: 27%;*/
      margin:0 auto;
      font-size: 20px;
      letter-spacing: 3px;
      color: white;
      width: 45.5%;
      border: 3px solid #35ffea; 
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .memberinfo{
        width: 60.5%;
      }
    }

    @media screen and (max-width: 414px) {
      .memberinfo {
        width:93%;
        margin-left: auto;
        margin-right: auto; } }

    .memberinfo p {
      margin: 10px 10px;
      padding: 10px 10px;
      line-height:1.5;
      letter-spacing: 2px; 
    }

    .orderlistsection table {
      margin: 0 auto;
      margin-top: 10px;
      font-size: 20px;
      line-height:1.5;
      letter-spacing: 2px;
      color: white;
      border: 3px solid #35ffea;
      width: 46%; 
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .orderlistsection table {
        width:60.5%; 
        } 
    }
    @media screen and (max-width: 414px) {
      .orderlistsection table {
        width: 93%; 
        } 
    }

    th {
      text-align: center;
      padding: 20px 10px; }

    td {
      text-align: left;
      padding: 10px 10px; 
      border-bottom:1px solid #555; 
    }

    .integral {
      display: inline-block; }

    .creditCardinfo {
      text-align: left;
      /*margin-left: 27%;*/
      margin :0 auto;
      font-size: 20px;
      letter-spacing: 3px;
      color: white;
      width: 45.5%;
      border: 3px solid #35ffea; }
    
    @media screen and (max-width:1024px) and (min-width:415px){
      .creditCardinfo {
        width: 60.5%;
      }
    }
    @media screen and (max-width: 414px) {
      .creditCardinfo {
        width: 93%;
        margin-left: auto;
        margin-right: auto; 
        } 
    }

    .creditCardinfo p {
      margin: 5px 5px;
      padding: 5px 10px;
      line-height:1.5;
      letter-spacing: 2px;
    }

    .creditCardinfo input {
      margin: 10px 10px;
      padding: 3px 3px; }

    @media screen and (max-width:414px) {
      .creditCardinfo input{
        margin: 5px 5px;
        padding: 3px 3px;
      } 
    }

    .Bookingh3 {
      font-size: 20px; }

    input {
      font-size: 10px; }

    .yesmodifyBtn {
      text-align: center;
      margin: 40px 30px;
      font-size: 23px;
      font-family: "微軟正黑體";
    }
    @media screen and (max-width:414px){
      .yesmodifyBtn{
        font-size: 21px;
      }
    }
    /*.yesmodifyBtn a {
      text-decoration: none;
      color: white;
      border: 1px #35ffba solid;
      padding: 10px 20px; }*/
    .yesmodifyBtn a{
      text-decoration: none;
      display:inline-block; 
      width: 150px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      background-color: rgba(255, 193, 22,0.3);
      color: white;
      position: relative;
      transition: background-color .2s linear; 
    }
    .yesmodifyBtn a:after{
      content: "";
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 193, 22,0.6);
      transition: all .2s linear;
    }
    .yesmodifyBtn a:hover{
      background-color: rgba(255, 193, 22,0.9);
      color: black;
    }
    .yesmodifyBtn a:hover:after{
      width: 108%;
      height: 125%;
      border: 2px solid rgba(255, 193, 22,0.8);
    }
