    @charset "UTF-8";
    /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

    * {
      margin: 0px;
      padding: 0px;
      text-decoration: none;
      box-sizing: border-box;
      /*outline: 1px solid red;*/
    }

    body {
      font-family: "微軟正黑體";
      background-color: black;
      color: #5AE6DB;
    }

    /*購買票劵*/
    .buyticketarea {
      width: 100%;
      font-size: 20px;
      padding-top:7%;
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .buyticketarea{
        padding-top:26%;
      }
    }
    @media screen and (max-width:414px) {
      .buyticketarea  {
        padding-top: 30%;
        width: 100%;
      }
    }
    .buyticketarea h2 {
      color: white;
      text-align: center;
      font-size: 32px;
      margin: 30px 30px; }
    
    .buyticketarea table {
      border: 3px solid #35ffea;
      position: relative;
      width: 40%;
      height: 300px;
      margin: 0 auto;
      opacity: 0.9;
      color: white; }
    @media screen and (max-width:1024px) and (min-width:415px){
      .buyticketarea table{
        width: 56%;
      }
    }
    @media screen and (max-width: 414px) {
      .buyticketarea table {
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 80%; 
      } 
    }
    .buyticketarea .verticalh2{
      position: absolute;
      width: 10px;
      height: 300px;
      top:25%;
      margin-left:25%;
      line-height:1.5;
      letter-spacing: 2px;
      /*display: inline-block;*/
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .buyticketarea .verticalh2{
        margin-left:15%;
      }
    }
    @media screen and (max-width: 414px) {
      .buyticketarea .verticalh2 {
        position: absolute;
          top:45%;
          left:50%;
          color:rgba(53, 255, 234, 0.5);
          line-height:1.5;
          z-index: -1;
        } 
      }
    .buyticketarea td {
      padding: 10px 10px;
      padding-top: 20px;
      padding-left: 20px;
      text-align: left;
      font-size: 23px;
      line-height:1.5;
      letter-spacing: 2px;
      /*border:1px solid black; */ }

    @media screen and (max-width: 414px) {
      .buyticketarea td {
        /*width: 60px;*/
        font-size: 20px; }
      .buyticketarea input {
        font-size: 16px; }
      .buyticketarea select {
        font-size: 16px; } }

    .buyticketarea a {
      color: white;
      background-color: #FFC116;
      padding: 5px 10px;
      text-decoration: none;
      text-align: center; 
    }

    .buyTTicketBtn{
      width: 40%;
      font-size: 23px;
      margin:0 auto;
      margin-top:20px;
      margin-bottom:30px;
      font-family: "微軟正黑體";
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .buyTTicketBtn{
        width: 56%;
      }
    }
    @media screen and (max-width: 414px){
      .buyTTicketBtn{
        width: 80%;
      }
    }
    .buyTTicketBtn .Previouspage {
      float: left;
      display: inline-block;
      font-size: 23px;
    }
    /*.buyTTicketBtn .Previouspage a {
      color: white;
      border: 1px #35ffba solid;
      padding: 5px 10px;
    }*/
    .buyTTicketBtn  a {
      text-decoration: none;
      display: block;
      width: 150px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      background-color: rgba(255, 193, 22,0.3);
      color: white;
      position: relative;
      transition: background-color .2s linear; 
    }
    .buyTTicketBtn  a:after{
      content: "";
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 193, 22,0.6);
      transition: all .2s linear;
    }
    .buyTTicketBtn  a:hover{
      background-color: rgba(255, 193, 22,0.9);
      color: black;
    }
    .buyTTicketBtn  a:hover:after{
      width: 108%;
      height: 125%;
      border: 2px solid rgba(255, 193, 22,0.8);
    }

    .buyTTicketBtn .buyticket {
        float: right;
        display: inline-block;
        font-size: 23px;
    }
    .buyTTicketBtn .buyticket a{
      text-decoration: none;
      display: block;
      width: 150px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      background-color: rgba(255, 193, 22,0.3);
      color: white;
      position: relative;
      transition: background-color .2s linear; 
    }
    .buyTTicketBtn .buyticket a:after{
      content: "";
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 193, 22,0.6);
      transition: all .2s linear;
    }
    .buyTTicketBtn .buyticket a:hover{
      background-color: rgba(255, 193, 22,0.9);
      color: black;
    }
    .buyTTicketBtn .buyticket a:hover:after{
      width: 108%;
      height: 125%;
      border: 2px solid rgba(255, 193, 22,0.8);
    }
    .buyticketarea .buyTTicketBtn :after {
      content: '';
      display: block;
      clear: both; 
    }
	  /*節目日期一開始不顯示*/
    #theater2 {
      display:none;
    }
  

