body{
	font-family: 微軟正黑體, arial;
	background-color: #111;
	color: azure;
}

*{
	margin: 0;
	padding: 0;
	font-family: Inconsolata, 微軟正黑體;
}

#cartWrapper{
	width: 100%;
	height: 100%;
	margin-top: 8%;
}

#cartTitle{
	font-size: 36px;
	font-weight: 900;	
	width: auto;
	margin: 20px auto 10px auto;
	text-align: center;
}

#cartWrapper tr{
	font-size: 18px;
}
#cartWrapper td{
	padding: 5px;
	padding-top: 30px;
	padding-bottom: 5px;
	border: none;
	border-bottom: 1px solid #555;
}

#cartWrapper title{
	font-weight: normal;
}

#cartWrapper input{
	width: 40px;
	padding: 5px;
	border: 1px solid navy;
	box-shadow: none;
	text-align: center;
}

#cartWrapper img{
	width: 30px;
}
#cartWrapper table{
	width: 70%;
	margin-left: 15%;
	text-align: left;
	border: none;
	/*border: 1px solid red;*/
}

/*標頭設定*/
#cart_header{
	color: black;
	height: 30px;
	border-bottom: 1px solid #5AE6DB;
}
#cartWrapper th{
	font-size: 20px;
	padding: 5px;
	height: 30px;
	border: none;
	color: #5AE6DB;
}
#fn_th{
	width: 10%;
}#icon_th{
	width: 11%;
}#fname_th{
	width: 18%;
}#tt_th{
	width: 9%;
}#fare_th{
	text-align: right;
	width: 8%;
}#tn_th{
	width: 14%;
	min-width: 50px;
}#subtotal_th{
	width: 95%;
	/*min-width: 50px;*/
	/*width: 150px;*/
}
/*以上*/



#cart_total_prev{
	font-size: 32px;
	text-align: right;
}
#cart_total{
	font-size: 36px;
	width: 100px;
}

#cart_total_row{
	text-align: right;
	height: 50px;
}td:nth-child(6),td:nth-child(7),td:nth-child(8){
	text-align: right;
}.fn_td{
	width: 5%;
}.icon_td{
	width: 15%;
}.full_td{
	width: 10%;
	color: lightblue;
}.half_td{
	width: 10%;
	color: orange;
}.sub_total{

}

/*刪除票券*/
.delete_btn_td{
	width: 25px;
	padding-top: 5px;
	vertical-align: top;
}.delete_btn{
	font-size: 12px;
	border: none;
	color: lightgray;
	background-color: #555;
	box-shadow: 0 0 0 black inset;
	text-align: center;
	width: 80%;
	vertical-align: top;
	margin-top: -20px;
	cursor: pointer;
}


/*繼續*/
#button{
	width: 50%;
	text-align: center;
	margin: 20px auto;
}

.highlight:first-child{
	margin-right: 10px;	
}
.highlight{
	font-family: 微軟正黑體;
	display: inline-block;
	text-align: center;
	padding:1%;
	position: relative;
	width: 23.5%;
	color: white;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(255, 193, 22,0.2);
	transition: 0.2s linear;
	vertical-align: middle;
	text-decoration: none;
}
.highlight:hover{
	background-color: rgba(255, 193, 22,0.8);
	color: black;
}

.highlight:before{
	content: "";
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 193, 22,0.8);
	transition: 0.2s linear;
/*	animation: big .8s ease infinite;*/
}
.highlight:hover:before{
	width: 103%;
	height: 120%;
	border: 2px solid rgba(255, 193, 22,0.5);
}
.highlight:after{
	content: "";
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
	width: 0px;
	height: 0px;
	border-radius: 100%;
	border: 2px solid rgba(255, 193, 22,0);
	animation: big 0.8s ease infinite;
	filter: drop-shadow(0px 0px 2px rgba(255, 193, 111,0.4));
}
.highlight:hover:after{
	-webkit-animation: none !important;
	 -moz-animation: none !important;
	 -o-animation: none !important;
	 -ms-animation: none !important;
	 animation: none !important;
}

/* input-number*/
  .ctrl {
      display: inline-block;
      vertical-align: middle;
      width: 65%;
      max-width: 150px;
      height: 30px;
      background-color: #222;
      border-radius: 3px;
      font-size: 18px;
      position: relative;
      float: right;

    }
    .ctrl-counter {
      position: absolute;
      width: 53.3%;
      max-width: 80px;
      height: 30px;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      color: #333C48;
      text-align: center;
      overflow: hidden;
      border : 1px solid rgba(90, 230, 219,0.5);
    }

    .ctrl-counter-input {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      z-index: 2;
      box-shadow: none;
      outline: none;
      border: none;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      background-color:rgba(0,0,0,0.5);
      transition: all 0.1s ease-in;
      color: #5AE6DB;
    }
   .ctrl-counter-input:active{
    background-color:rgba(0,0,0,1);
   }
   .ctrl-counter-input:focus{
    background-color:rgba(0,0,0,1);
    color: white;
   }
    .ctrl-button {
      width: 23.3%;
      max-width: 35px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      color: #000;
      cursor: pointer;
      background-color: #5AE6DB;
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }
    .ctrl-button:hover {
      background-color: #54ebff;
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }
    .ctrl-button:active {
      background-color: #008da0;
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }
    .ctrl-button-decrement {
      position: absolute;
      top:0;
      left:0;
      border-radius: 3px 0 0 3px;
    }
    .ctrl-button-increment {
      position: absolute;
      top:0;
      right:0;
      border-radius: 0 3px 3px 0;
    }

 /* input-number-end*/