*{
	border: 1px solid red;
}
.sub_total, #discount, #total, .points{
	text-align: right;
}#title{
	text-align: center;
	font-size: 36px;	
}#member_info td:nth-child(2){
	padding: 10px;
}
#detailWrapper{
	width: 70%;
	margin-left: 15%;
	margin-top: 8%;
	color: #ccc;
}
#ticket_rows{
	margin: 70px 0;
}
#ticket_rows td{
	border-bottom: 1px solid azure;
}
.tbtitle{
	font-size: 24px;
	text-align: left;
}
#ticket_rows th{
	font-size: 20px;
}#ticket_rows tr{
	height:30px;
}
#cart_total_row{
	text-align: right;
}#credit_card span{
	width: 100px;
	height: 50px;
}#points_confirm{
	display: inline-block;
	width: 80px;
	text-align-last: center;
	background-color: #ccc;
	border: none;
	padding: 5px;
	cursor: pointer;
}#points_remain{
	opacity: 0;
	border: none;
}#points_remain span{
	display: inline-block;
}#pay_info{
	vertical-align: baseline;
}
#pay_info td{
	width: 200px;
}.credit_card input{
	width: 40px;
}#credit_card5, #credit_card6, #credit_card7{
	width: 30px;
	display: inline-block;
}
</style>		