@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體"; }

.check_tickets_wrapper {
  width: 100%;
  max-width: 1440px; }
  @media screen and (min-width: 415px) and (max-width: 1024px) {
    .check_tickets_wrapper {
      padding-top: 20%; } }
  @media screen and (max-width: 414px) {
    .check_tickets_wrapper {
      padding-top: 20%; } }
  .check_tickets_wrapper .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media screen and (min-width: 415px) and (max-width: 1024px) {
      .check_tickets_wrapper .content {
        flex-direction: column; } }
    @media screen and (max-width: 414px) {
      .check_tickets_wrapper .content {
        flex-direction: column; } }
    .check_tickets_wrapper .content .info {
      width: 40%;
      height: 75vh;
      margin: 10px auto;
      border: 4px solid #3f3f3f; }
      @media screen and (min-width: 415px) and (max-width: 1024px) {
        .check_tickets_wrapper .content .info {
          width: 90%;
          height: auto; } }
      @media screen and (max-width: 414px) {
        .check_tickets_wrapper .content .info {
          width: 90%;
          height: auto; } }
      .check_tickets_wrapper .content .info h2 {
        color: #000;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        font-size: 24px;
        font-weight: bold; }
        @media screen and (min-width: 415px) and (max-width: 1024px) {
          .check_tickets_wrapper .content .info h2 {
            font-size: 36px;
            padding-bottom: 20px;
            padding-top: 20px; } }
        @media screen and (max-width: 414px) {
          .check_tickets_wrapper .content .info h2 {
            font-size: 36px;
            padding-bottom: 20px;
            padding-top: 20px; } }
      .check_tickets_wrapper .content .info .photo {
        width: 80%;
        height: 35vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin: 20px auto; }
        @media screen and (min-width: 415px) and (max-width: 1024px) {
          .check_tickets_wrapper .content .info .photo {
            display: none; } }
        @media screen and (max-width: 414px) {
          .check_tickets_wrapper .content .info .photo {
            display: none; } }
      .check_tickets_wrapper .content .info .select_amount {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
        color: #000; }
        @media screen and (min-width: 415px) and (max-width: 1024px) {
          .check_tickets_wrapper .content .info .select_amount {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around; } }
        @media screen and (max-width: 414px) {
          .check_tickets_wrapper .content .info .select_amount {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around; } }
        .check_tickets_wrapper .content .info .select_amount input {
          width: 40%;
          height: 30px;
          margin: 0 auto;
          display: block;
          text-align: center; }
          @media screen and (min-width: 415px) and (max-width: 1024px) {
            .check_tickets_wrapper .content .info .select_amount input {
              height: 80px;
              font-size: 36px; } }
          @media screen and (max-width: 414px) {
            .check_tickets_wrapper .content .info .select_amount input {
              height: 80px;
              font-size: 36px; } }
        .check_tickets_wrapper .content .info .select_amount div {
          width: 40%;
          display: flex;
          flex-direction: row;
          justify-content: space-around; }
          @media screen and (min-width: 415px) and (max-width: 1024px) {
            .check_tickets_wrapper .content .info .select_amount div {
              width: 100%;
              margin: 40px 0; } }
          @media screen and (max-width: 414px) {
            .check_tickets_wrapper .content .info .select_amount div {
              width: 100%;
              margin: 40px 0; } }
          .check_tickets_wrapper .content .info .select_amount div span {
            display: block;
            line-height: 30px; }
            @media screen and (min-width: 415px) and (max-width: 1024px) {
              .check_tickets_wrapper .content .info .select_amount div span {
                font-size: 36px;
                line-height: 80px; } }
            @media screen and (max-width: 414px) {
              .check_tickets_wrapper .content .info .select_amount div span {
                font-size: 36px;
                line-height: 80px; } }
      .check_tickets_wrapper .content .info .button_area {
        width: 80%;
        height: 20%;
        margin: 20px auto; }
        .check_tickets_wrapper .content .info .button_area button {
          display: block;
          width: 40%;
          height: 40%;
          z-index: 99;
          font-size: 16px;
          font-weight: bold;
          color: #000;
          letter-spacing: 10px;
          text-align: center;
          padding: 1%;
          transition: 0.2s linear;
          vertical-align: middle;
          position: relative;
          top: 10px;
          text-decoration: none;
          border: 2px solid #292929;
          outline: none;
          background: transparent;
          font-family: "微軟正黑體"; }
          @media screen and (min-width: 415px) and (max-width: 1024px) {
            .check_tickets_wrapper .content .info .button_area button {
              font-size: 36px;
            height:90px; } }
          @media screen and (max-width: 414px) {
            .check_tickets_wrapper .content .info .button_area button {
              font-size: 36px;
            height:90px; } }
        .check_tickets_wrapper .content .info .button_area button:hover {
          background-color: #292929;
          color: #fff;
          cursor: pointer; }
        .check_tickets_wrapper .content .info .button_area #reset {
          float: right; }
        .check_tickets_wrapper .content .info .button_area #submit {
          float: left; }
    .check_tickets_wrapper .content .used_facility_info {
      position: relative; }
      @media screen and (min-width: 415px) and (max-width: 1024px) {
        .check_tickets_wrapper .content .used_facility_info {
          height: 40vh; } }
      @media screen and (max-width: 414px) {
        .check_tickets_wrapper .content .used_facility_info {
          height: 40vh; } }
      .check_tickets_wrapper .content .used_facility_info #used_up {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 999;
        display: none; }
      .check_tickets_wrapper .content .used_facility_info #used_up span {
        display: block;
        width: 50%;
        height: 100px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 4px solid #f00;
        background: transparent;
        line-height: 100px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #f00;
        letter-spacing: 4px; }
    .check_tickets_wrapper .content .info_used_record .records {
      width: 80%;
      height: auto;
      margin: 20px auto; }
      @media screen and (min-width: 415px) and (max-width: 1024px) {
        .check_tickets_wrapper .content .info_used_record .records {
          width: 95%;
          margin-bottom: 40px; } }
      @media screen and (max-width: 414px) {
        .check_tickets_wrapper .content .info_used_record .records {
          width: 95%;
          margin-bottom: 40px; } }
      .check_tickets_wrapper .content .info_used_record .records h3 {
        margin: 40px 0;
        font-weight: bold;
        font-size: 18px; }
      .check_tickets_wrapper .content .info_used_record .records .records_info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
    .check_tickets_wrapper .content #light_box_back {
      width: 100%;
      height: 100vh;
      background: #000;
      position: fixed;
      top: 0;
      z-index: 100;
      opacity: 0.9;
      display: none; }
    .check_tickets_wrapper .content #light_box {
      width: 35%;
      height: 40vh;
      background: #000;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 110;
      border: 4px solid #37fff3;
      display: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .check_tickets_wrapper .content #light_box .check_info {
        width: 90%;
        padding: 10%;
        margin: 0 auto;
        margin-top: 5%;
        text-align: center;
        color: #fff; }
      .check_tickets_wrapper .content #light_box .button_area {
        width: 90%;
        height: 20vh;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .check_tickets_wrapper .content #light_box .button_area button {
          display: block;
          width: 40%;
          height: 30px;
          z-index: 99;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          letter-spacing: 10px;
          text-align: center;
          padding: 1%;
          background-color: rgba(255, 193, 22, 0.2);
          transition: 0.2s linear;
          vertical-align: middle;
          position: relative;
          top: 10px;
          text-decoration: none;
          border: none;
          outline: none; }
        .check_tickets_wrapper .content #light_box .button_area button:hover {
          background-color: rgba(255, 193, 22, 0.8);
          color: black; }
        .check_tickets_wrapper .content #light_box .button_area button:before {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 100%;
          height: 100%;
          border: 2px solid rgba(255, 193, 22, 0.8);
          transition: 0.2s linear; }
        .check_tickets_wrapper .content #light_box .button_area button:hover:before {
          width: 103%;
          height: 120%;
          border: 2px solid rgba(255, 193, 22, 0.5); }
        .check_tickets_wrapper .content #light_box .button_area button:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 0px;
          height: 0px;
          border-radius: 100%;
          border: 2px solid rgba(255, 193, 22, 0);
          animation: big 0.8s ease infinite;
          filter: drop-shadow(0px 0px 2px rgba(255, 193, 111, 0.4)); }
        .check_tickets_wrapper .content #light_box .button_area button:hover:after {
          -webkit-animation: none !important;
          -moz-animation: none !important;
          -o-animation: none !important;
          -ms-animation: none !important;
          animation: none !important; }
