*{
/*	outline: 1px solid red;*/
	box-sizing: border-box;
  text-decoration: none;
  color: white;
}

body{
	background-color: black;
  font-family: "微軟正黑體";
}
body{
  background: black;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(100,255,243,1);
 /* outline: 1px solid rgba(100,255,243,1);*/
}

 /* input-number*/
  .ctrl {
      display: inline-block;
      vertical-align: middle;
      width: 180px;
      height: 30px;
      background-color: #222;
      border-radius: 3px;
      font-size: 22px;
      position: relative;
    }
    .ctrl-counter {
      position: absolute;
      width: 100px;
      height: 30px;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      color: #333C48;
      text-align: center;
      overflow: hidden;
    }
    .ctrl-counter.is-input .ctrl-counter-num {
      visability: hidden;
      opacity: 0;
      -webkit-transition: opacity 100ms ease-in;
      transition: opacity 100ms ease-in;
    }
    .ctrl-counter.is-input .ctrl-counter-input {
      visability: visible;
      opacity: 1;
      -webkit-transition: opacity 100ms ease-in;
      transition: opacity 100ms ease-in;
    }
    .ctrl-counter-input {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      z-index: 2;
      box-shadow: none;
      outline: none;
      border: none;
      color: #333C48;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      visability: hidden;
      opacity: 0;
      -webkit-transition: opacity 100ms ease-in;
      transition: opacity 100ms ease-in;
    }
    .ctrl-counter-num {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      line-height: 30px;
      visability: visible;
      opacity: 1;
      -webkit-transition: opacity 100ms ease-in;
      transition: opacity 100ms ease-in;
    }
    .ctrl-counter-num.is-increment-hide {
      opacity: 0;
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      -webkit-animation: increment-prev 100ms ease-in;
      animation: increment-prev 100ms ease-in;
    }
    .ctrl-counter-num.is-increment-visible {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation: increment-next 100ms ease-out;
      animation: increment-next 100ms ease-out;
    }
    .ctrl-counter-num.is-decrement-hide {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      -webkit-animation: decrement-prev 100ms ease-in;
      animation: decrement-prev 100ms ease-in;
    }
    .ctrl-counter-num.is-decrement-visible {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation: decrement-next 100ms ease-out;
      animation: decrement-next 100ms ease-out;
    }
    .ctrl-button {
      width: 40px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      color: #000;
      cursor: pointer;
      background-color: #5AE6DB;
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }
    .ctrl-button:hover {
      background-color: #54ebff;
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }
    .ctrl-button:active {
      background-color: #008da0;
      -webkit-transition: background-color 100ms ease-in;
      transition: background-color 100ms ease-in;
    }
    .ctrl-button-decrement {
      position: absolute;
      top:0;
      left:0;
      border-radius: 3px 0 0 3px;
    }
    .ctrl-button-increment {
      position: absolute;
      top:0;
      right:0;
      border-radius: 0 3px 3px 0;
    }
    @-webkit-keyframes decrement-prev {
      from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    } @keyframes decrement-prev {
      from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    } @-webkit-keyframes decrement-next {
      from {
      opacity: 0;
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
    }
    } @keyframes decrement-next {
      from {
      opacity: 0;
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
    }
    } @-webkit-keyframes increment-prev {
      from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    } @keyframes increment-prev {
      from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    } @-webkit-keyframes increment-next {
      from {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    } @keyframes increment-next {
      from {
      opacity: 0;
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
    }
    }

 /* input-number-end*/



.fbtWrapper{
  width:80%;
  max-width: 1440px;
  padding: 8% 3% 3% 3%;
  margin: 0 auto;
}
.fbtWrapper .ticketbox{
	width: 25%;
/*  min-width: 300px;*/
  margin:4.1%;
  float: left;

}
.fbtWrapper:after{
  content: "";
  display: block;
  clear: both;
}
/*ticket icon-rotate*/

.ticketbox .ticketTitlebox .ticket{
	width: 35px;
  height: 35px;
  text-align: center;
	margin: 20px 20px 20px 0;
	padding: 8px;
	box-shadow: 0px 0px 5px #33FFFF;
	background: repeating-linear-gradient(transparent 0px, transparent 1px,transparent 1px, transparent 3px,rgba(0, 102, 204,0.5) 3px, rgba(0, 102, 204,0.8) 4px);
  	     -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;
  animation:rotateY 5s linear 0s infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes rotateY {
    0% {
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        transform:rotateY(0deg);
    }
    25% {
        -webkit-transform:rotateY(90deg);
        -moz-transform:rotateY(90deg);
        transform:rotateY(90deg);
    }
    50% {
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    75% {
        -webkit-transform:rotateY(270deg);
        -moz-transform:rotateY(270deg);
        transform:rotateY(270deg);
    }
    100% {
        -webkit-transform:rotateY(360deg);
        -moz-transform:rotateY(360deg);
        transform:rotateY(360deg);
    }
}
.ticketbox .ticket figure{
      display: block;
      height:75%;
      width: 75%;
      text-align: center;
      font-weight: bold;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
  -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
         backface-visibility: hidden;
}
.ticketbox .ticket figure img{
  width: 100%;
  filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.5));
}
.ticketbox .ticket .front{	

}
.ticketbox .ticket .back{
  line-height:26.25px;
  font-weight: bold;
  transform:translate(-50%,-50%) rotateY(180deg);
}
.ticketbox .ticketTitlebox .ticketTitle{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  color: #42D6CA;
  font-family: "微軟正黑體";
  font-weight: bold;
}
/*ticket icon-rotate end*/
.ticketbox .shortInfo{
  font-size: 18px;
}

.t_table{
	width: 100%;
  margin: 10px auto;
}
.t_table td{
  padding: 10px 15px 10px 15px;
}
.f_img{
	position: relative;
}
.f_img img{
	width: 100%;
}
.f_img .cover{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	background-color: rgba(51, 255, 255 ,0.1);
	background-image:  repeating-linear-gradient(transparent 0px, transparent 1px,transparent 1px, transparent 3px,rgba(0, 102, 204,0.2) 3px, rgba(0, 102, 204,0.2) 4px);
}




/*btn*/
.f_submit{
	outline: none;
  position: relative;
  color: white;
  width: 100%;
  height: 35px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 193, 22,0.2);
  transition: 0.2s linear;
  line-height: 35px;
  text-align: center;

}
.f_submit:hover{
  background-color: rgba(255, 193, 22,0.8);
  color: black;
  cursor: pointer;
}
.f_submit:before{
  content: "";
  display: block;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  border:2px solid rgba(255, 193, 22,0.8);
  transition: 0.2s linear;
}
.f_submit:hover:before{

  width: 103%;
  height: 120%;
  border: 2px solid rgba(255, 193, 22,0.8);
}