*{
	margin: 0;
	padding: 0;
	font-size: 0;
	font-family: Inconsolata, 微軟正黑體;
}@font-face {
  font-family: Inconsolata;
  src: url("Inconsolata-Regular.ttf"); }

#footerWrapper{
	position: relative;
}

#visitUs{
	position: absolute;
	top: 10%;	
	left: 10%;
	font-size: 48px;
	color: lightblue;
	line-height: 30px;
	text-shadow: 1px 1px 10px white;
	border-radius: 20px;
	padding: 15px;
	outline-color: yellow;
	outline-width: 1px;
	animation: pulse 2s;
	animation-iteration-count: infinite;
	z-index: 2;
}
@keyframes pulse{
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

#footerMap {
	width: 100%;
	height: 200px;
	z-index: 1; }

#footerText {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #17263C;
	display: inline-block; }

#footerText:before{
	content: "";
	height: 100%;
	background-color: red;
	vertical-align: middle;
	display: inline-block;
}

#footerText ul{
	list-style: none;
	display: inline-block;
}
.footerContactInfo{
	display: inline-block;
	color: #ccc;
	font-size: 16px;
	vertical-align: middle; }

.footerWebMap{
	display: inline-block;
	vertical-align: middle;
}

.footerWebMap a{
	color: #ddd;
	font-size: 18px;
	line-height: 36px;
	text-decoration: none;
}
#footerWebMap > li.footerWebMap:nth-child(6){
	margin-right: 50px;	
}

#copyRight:before{
	content: "";
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

#copyRight{
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	font-family: Inconsolata;
	display: inline-block;
}