/*-----header-----*/
*{
	/*outline: 1px solid red;*/
	text-decoration: none;
}
.nav{
	width: 100%;
	position: fixed;
	height: 13%;
	text-align: center;
	top:4%;
	z-index: 1000;

}
/*768*------====================================*/
@media screen and (max-width:768px) {

	.nav{
		top:0;
		height: 7%;
		background-color:rgba(0,0,0,0.8);
	}
}
/*768*------====================================*/
.logo{
	display: inline-block;
	width:15%;
	min-width: 200px;
	margin: 0;
	vertical-align: middle;
	height: auto;
}
/*768*------====================================*/
@media screen and (max-width:768px){
	.logo{
		display: block;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);

	}
}
/*768*------====================================*/
.ul_left,.ul_right,.ul_left li,.ul_right li{
	display: inline-block;
	vertical-align: middle;	

}
.ul_left{
	text-align: right;
	margin-right: 20px;
}
.ul_right{
	text-align: left;
	margin-left: 20px;
}
.ul_left,.ul_right{
	width:30%;
}
.ul_left li,.ul_right li{
	width: 15%;
	min-width: 80px;
	margin: 0 2.5% 0 2.5%;
}
.ul_left li a,.ul_right li a{
	display: block;
	padding: 1%;
	text-align: center;
	font-family: "微軟正黑體";
	color: white;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.header{/*會員/註冊/購物車*/
	width: 100%;
	position: fixed;
	top:0;
	height: 3%;
	text-align: right;
	z-index: 9999;
}
.header .ul_top{
	padding: 1.5% 1.5% 0 1.5%;
}
.header .ul_top li{
	width: 2%;
	min-width: 52px;
	display: inline-block;
	margin: 0 1% 0 0;
	font-family: "微軟正黑體";
	position: relative;
	text-align: center;
}
.header .ul_top li a{
	display: block;
	padding: 0.5%;
	color: white;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.header .memIcon{
	display: none;
}
/*768*------====================================*/
@media screen and (max-width:768px){
	.header{
		top:1%;
		right: 3%;
		width:6%;
		min-width: 45px;
	}
	.header .memIcon{
		width: 100%;
		display:block;
	}
	.header .ul_top{
		width: 40vw;
		position: fixed;
		top:6%;
		right: 0;
	}
	.header .ul_top li{
		width: 100%;
		padding: 5%;
		margin-bottom: 15px;
		background-color: black;
		/*min-width: 52px;*/
		display: block;
		font-family: "微軟正黑體";
		text-align: center;
	}

}
/*768*------====================================*/
/*-----header end-----*/