/*-----header-----*/
/**{
	outline: 1px solid red;
}*/
.nav{
	width: 100%;
	position: fixed;
	height: 13%;
	text-align: center;
	padding-top: 25px;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: .5s;
}
.smallnav{
	background-color:rgb(0,12,72);
}
.navOpenBtn{
	display: none;
}
/*768*------====================================*/
@media screen and (max-width:1024px) {

	.nav{
		top:0;
		height: 45px;
		background-color:rgba(0,0,0,0.8);
		box-shadow: 0 4px 0px -2px rgba(71, 161, 226,0.8); 
	}
	.navOpenBtn{
		position: fixed;
		display:block;
		top:10px;
		left: 3%;
		width: 40px;
		z-index: 1001;
		cursor: pointer;
		font-size: 0;
	}
	.navOpenBtn .ham{
		font-size: 0;
		display: inline-block;
		margin-right:5px;
		background-color: rgba(90, 230, 219,0.9);
		transition: .2s linear;
	}
	.navOpenBtn .ham:first-child{
		width: 5px;
		height: 22px;
		opacity: 1;
	}
	.navOpenBtn .ham:nth-child(2){
		width: 5px;
		height: 32px;
	}
	.navOpenBtn .ham:nth-child(3){
		width: 5px;
		height: 12px;
	}
	.navOpenBtn .ham:nth-child(4){
		width: 5px;
		height: 17px;
	}
	#navAppear.ul_box~.navOpenBtn .ham:first-child{
		height: 32px;
		opacity: 0;
	}
	#navAppear.ul_box~.navOpenBtn .ham:nth-child(2){
		height: 30px;
		width: 4px;
		transform: rotateZ(45deg) translateX(5px) translateY(-2px);
		border-radius: 4px;
	}
	#navAppear.ul_box~.navOpenBtn .ham:nth-child(3){
		height: 30px;
		width: 4px;
		transform: rotateZ(-45deg) translateX(-5px) translateY(-2px);
		border-radius: 4px;
	}
	#navAppear.ul_box~.navOpenBtn .ham:nth-child(4){
		height: 32px;
		opacity: 0;
	}
}
/*768*------====================================*/
.logo_a{
	display: inline-block;
	width: 15%;
	min-width: 200px;
	margin: 0;
	vertical-align: middle;
}
.logo{
	display: inline-block;
	width:100%;
	height: auto;
}
/*768*------====================================*/
@media screen and (max-width:1024px){
	.logo_a{
		min-width: 150px;
		display: block;
		position:fixed;
		top:1.5%;
		left:50%;
		transform: translateX(-50%);
	}
}
/*768*------====================================*/
.ul_left,.ul_right,.ul_left li,.ul_right li{
	display: inline-block;
	vertical-align: middle;	

}
.ul_left{
	text-align: right;
	margin-right: 20px;
}
.ul_right{
	text-align: left;
	margin-left: 20px;
}
.ul_left,.ul_right{
	width:30%;
}
.ul_left li,.ul_right li{
	width: 15%;
	min-width: 80px;
	margin: 0 2.5% 0 2.5%;
}
.ul_left li a,.ul_right li a{
	display: block;
	padding: 1%;
	text-align: center;
	font-family: "微軟正黑體";
	color: white;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
/*768*------====================================*/
@media screen and (max-width:1024px){
	.ul_left,.ul_right,.ul_left li,.ul_right li{
		display: block;
		text-align: center;
		margin-right: 0;
		margin-left: 0;
	}
	.ul_box{
		position: fixed;
		background-color:rgba(0,0,0,0);
		top: 46px;
		left:-100%;
		width: 100%;
		height: 100%;
		transition: background-color .2s linear;
	}
	#navAppear.ul_box{
		left: 0;
		background-color:rgba(0,0,0,0.9);
	}
	.ul_box .ul_left li,.ul_box .ul_right li{
		opacity: 0;
	}
	.ul_box .ul_left li:first-child{
		transition: opacity .3s linear .1s;
	}
	.ul_box .ul_left li:nth-child(2){
		transition: opacity .3s linear .2s;
	}
	.ul_box .ul_left li:nth-child(3){
		transition: opacity .3s linear .3s;
	}
	.ul_box .ul_right li:first-child{
		transition: opacity .3s linear .4s;
	}
	.ul_box .ul_right li:nth-child(2){
		transition: opacity .3s linear .5s;
	}
	.ul_box .ul_right li:nth-child(3){
		transition: opacity .3s linear .6s;
	}
	#navAppear.ul_box .ul_left li,#navAppear.ul_box .ul_right li{
		opacity: 1;
		transition: opacity 0s linear;
	}
	.ul_left li,.ul_right li{
		width: 100%;
		margin: 6vh auto;
	}
	.ul_left li a,.ul_right li a{
		font-size: 24px;

	}
	.ul_left,.ul_right{
		width: 100%;
		margin: 0 auto;
	}
}
/*768*------====================================*/
.header{/*會員/註冊/購物車*/
	width: 100%;
	/*height: 100px;*/
	position: fixed;
	top:0;
	height: 3%;
	z-index: 100;
}
.header .ul_top{
	padding: 5px 5px 0 10px;
	position: absolute;
	width: 100px;
	top: 120px;
	right: 0;
	background-color: rgb(10,25,34);
	transition: 1s;
}
@media screen and (min-width: 1024px){
.lever{
	position: absolute;
	right: 45%;
	opacity: 0;
	top: 0;
	width: 50px;
	height: 50px;
	background-color: rgb(10,25,34);
	transition: opacity .5s -.2s,right .7s -.3s;
	z-index: -999;
}
.ul_top_onScroll{
	transform: translate(96px,0);
}
.leverOnScroll{
	opacity:1;
	right: 99%;
	transition: .5s;
	transition-delay: .5s;
	z-index: -999;
}
.lever img{
	width: 30px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	filter: brightness(0.7);
	z-index: -1;
}
.lever img:hover{
	filter: brightness(1.5);
}
}
@media screen and (max-width: 1024px){
	.header .ul_top{
		top: 30px;
	}
	.lever img{
		display: none;
	}
}
.header .ul_top li:before{
	content: "";
	height:100%;
	width: 100px;
	background-color: white;
	vertical-align: middle;
}
.header .ul_top li{
	min-width: 55px;
	margin: 10px 0 10px 0;
	font-family: "微軟正黑體";
	position: relative;
	text-align: left;
	transition: .3s;
}.header .ul_top li:hover{
	filter: brightness(2);
}
.header .ul_top li:last-child{
	margin-bottom: 20px;
}
.header .ul_top li a{
	display: block;
	padding: 0.5%;
	color: white;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}
.header .ul_top li a img{
	display: inline-block;
	vertical-align: middle;
}
.header .ul_top li a .register,
.header .ul_top li a .login,
.header .ul_top li a #howmanytickets{
	font-size: 14px;
	color: white;
	display: inline-block;
	vertical-align: middle;
}
.headerOpenBtn{
	display: none;
}

/*768*------====================================*/
@media screen and (max-width:1024px){
	.headerOpenBtn{
		position: fixed;
		display:block;
		top:10px;
		right: 3%;
		width:32px;
		z-index: 1001;
		cursor: pointer;
	}

	.headerOpenBtn .memIcon{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
	}
	.headerOpenBtn .memIcon:nth-child(1){
		opacity: 0;
	}
	
	.header{
		height: 100%;
		top:46px;
		right: -100%;
		position: fixed;
		opacity: 0;
		transition: opacity .3s linear;
	}
	.header .ul_top{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.9);
	}
	#headerAppear.header{
		right: 0;
		opacity: 1;

	}
	#headerAppear.header~.headerOpenBtn .memIcon:nth-child(1){
		opacity: 1;
		animation: screenSpark 0.5s 1 linear;
		animation-fill-mode: forward;
	}
	@keyframes screenSpark{
		0%{filter: brightness(0%);}
		20%{filter: brightness(50%);}
		40%{filter: brightness(20%);}
		60%{filter: brightness(80%);}
		80%{filter: brightness(60%);}
		100%{filter: brightness(100%);}
	}
	.header .ul_top .li_top{
		width: 100%;
		height: 100px;
		line-height: 100px;
		margin-bottom: 15px;
		background-color: black;
		display: block;
		font-family: "微軟正黑體";
		text-align: center;
		opacity: 0;
		letter-spacing: 2.5px;
	}
	.header .ul_top #liAppear.li_top{
		opacity: 1;
	}
	.header .ul_top .li_top:first-child{
		transition: opacity .3s linear .1s;
	}
	.header .ul_top li:nth-child(2){
		transition: opacity .3s linear .3s;
	}
	.header .ul_top li:nth-child(3){
		transition: opacity .3s linear .5s;
	}

}
/*768*------====================================*/

/*NAV購物車*/
.li_top{
    vertical-align: middle;
}
.li_top img{
    width: 25px;
    display: inline-block;
}#showCartContent{
    width: 180px;
    text-align: center;
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
}.li_top:nth-child(3){
    position: relative;
}
.li_top:nth-child(3):hover #showCartContent{
    display: block;
}
#howmanytickets{
    font-size: 24px;
    color: #5AE6DB;
    display: inline-block;
}#showCartContenttb{
    text-align: left;
    width: 180px;
    /*height: 250px;*/
    position: absolute;
    top: -180px;
    right: 0;
    border: 1px solid white;
}
/*NAV購物車end*/


/*-----header end-----*/