@font-face {
  font-family: Calculator;
  src: url(POCKC.ttf); 
}
*{
  text-decoration: none;
/*  outline: 1px solid red;*/
}
body {
  margin: 0;
  padding:0;
  background: url(../img/sa.jpg);
  background-attachment: fixed;
  text-align: center; }

.title {
  margin-top: 12%;
  margin-bottom: 0;
  color: #C8F4FF;
  text-align: center;
  font-size: 100px;
  font-family: Calculator;
  opacity: 0.8;
  letter-spacing: 12px;
  text-shadow: 2px 3px 2px rgba(0,0,0,0.5),1px 4px 4px rgba(0,0,0,0.3);

}

.sub {
  font-size: 45px;
  text-align: center;
  color: #FFF;
  font-family: Calculator;
  letter-spacing: 10px; }

.sectionb {
  width: 800px;
  margin: 0 auto;
  text-align: center; }

/*.box {
  width: 150px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  box-shadow: 0px 1px 3px 2px #FFF,0px 1px 3px 2px #0099cc;
  margin: 5px;
  border-radius: 2px;
  display: inline-block; 
}*/

.plus {
  opacity: 0.5; }

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: -1;
}

.rocket {
  position: absolute; }

.inline-block {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 25px 50px;
  display: inline-block;
}

.inline-block img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}
.inline-block:hover img{
   filter:brightness(150%);
}
.inline-block .box{
  position: absolute;
  top:50%;
  left: 50%;
  line-height: 200px;
  transform: translate(-57%,-45%);
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;
  font-family: "微軟正黑體",Heiti TC;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.blank {
  height: 300px; }

#trigger1 {
  color: white; }

.block1 {
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  margin: 5px;
  font-weight: bold;
  background-color: #FFF;
  vertical-align: middle; }

.block2 {
  width: 100px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  margin: 5px;
  font-weight: bold;
  font-size: 14px;
  background-color: #FFF;
  vertical-align: middle; }

.sectionc {
  width: 100%;
  height: 500px;
  text-align: center;
  position: relative; }

.bx {
  width: 400px;
  height: 200px;
  color: white;
  text-align: center;
  line-height: 200px;
  box-shadow: 0px 1px 3px 2px #FFF,0px 1px 3px 2px #0099cc;
  border-radius: 2px;
  display: inline-block;
  margin: 100px; }

/*.box1 {
  position: absolute;
  top: 0; }

.box2 {
  position: absolute;
  left: 600px; }
*/