#lightBox{
    border: 4px solid rgba(55, 255, 243,1);
   box-shadow: 0px 0px 10px 0px rgba(55, 255, 243,1);
    width:30%;
    background-color: rgba(10, 10, 10,0.9);
    margin: 0 auto;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* display: none; */
    opacity: 0;
    z-index: 999;
    visibility: hidden;
    transition: 0.5s ;
    box-sizing: border-box;
    padding-top: 20px;
}
@media screen and (min-width:415px) and (max-width:1024px){
    #lightBox{
        width: 70%;
    }
}
/*中間手機尺寸*/
@media screen and (max-width:414px){
    #lightBox{
        width: 95%;
    }

}
.leftLine{
    top: 5px;
    right: 20px;
    width: 5px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg) translate(9px, 1px);
}
.rightLine{
    top: 5px;
    right: 10px;
    width: 5px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    transform: rotate(-45deg) translate(-8px, 2px);
    
}
 /* #cancel{
    width: 33px;
    height: 16px;
    top: 10px;
    right: 10px;
} */
#lightBox #cancel:hover{
    background-color: rgb(142, 230, 27);
    cursor: pointer;
}


/*燈箱bar*/
#lightBox .bar{
    width:100%;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
}
/*燈箱bar結束*/


#lightBox .singUp{
    box-sizing: border-box;
    padding: 2px;
}
#lightBox .singUp h2{
    color:rgb(10, 242, 250); 
    font-size: 30px;
	text-align: center;
}
.text{
    padding-top: 10px;
	font-size: 20px;
	color:rgb(10, 242, 250);
	text-align: center;
	
}
.text input{
	margin: 10px;
	height: 25px;
	border-radius: 10px;
}
.btn{
	text-align: center;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
}
.btn input{
	font-size: 20px;
	font-family: 'Share Tech Mono', monospace;
    color: rgb(10, 242, 250);
    background: transparent;
    /* letter-spacing: 0.1em; */
    /* text-transform: uppercase; */
    display: inline-block;
    margin: 0 20px 10px 0;
    outline:none;
    border: 1px solid rgb(10, 242, 250);
    background-color: rgb(54, 54, 54);
    box-shadow: 0 0 10px rgba(0,0,255,0.5), rgba(0,0,255,0.5);
    cursor: pointer;
}