*{
    
    font-family: 微軟正黑體;
    /*outline: 1px solid #f00;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
body{
    background-color: #000;
}
.MembersBox{
    width:100%;
    max-width: 1200px;
    text-align: center;
    margin:  100px auto;
}
.MembersBox .content{ 
    width: 100%;

}
/*按鈕*/
.MembersBox .content .buttonArea{
    width: 100%;
    padding: 50px;
}
.MembersBox .content .buttonArea a{
    color: #fff;
    text-align: center;
    padding: 15px 20px 15px 20px;
    border: 2px solid blue;
    margin: 40px;
    border-radius: 10%;
}
/*按鈕結束*/




/*整體內容位置*/
.nameBox_value_place{
    width: 35%;
    margin: 0 auto;
    position: relative;
    margin-top: 90px;
    background-color: rgba(50,224,220,0.5);
    padding-top: 45px;
}
.nameBox_value_place .bar{
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
    left: 15px;
    background-color: #fff;
}


/*圓圈位置*/
.nameBox_value_place .nameBox{
    position: absolute;
    width: 150px;
    top:-90px;
    left: -85px;
}
.nameBox_value_place .nameBox  img{
    width: 100%;
}
.nameBox_value_place .nameBox p{
    top: 50%;
    left: 26%;
    position: absolute;
    color: #fff;    
    font-size: 20px;
}
/*圓圈結束*/



/*表格內容位置*/
.nameBox_value_place table{
    width: 100%;
}

.nameBox_value_place table th{
    color: #FFFFFF;
    font-size: 20px;
    width: 5%;
    height:100px;
    padding: 5px;
    vertical-align: middle;
    text-align: right;
    

}
.nameBox_value_place table td{
    color: #4BE9EC;
    width: 10%;
    font-size: 18px;
    height:100px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
/*表格內容位置結束*/


@media screen and (min-width:415px) and (max-width:1024px){
    
}
/*右邊手機尺寸*/
@media screen and (max-width:414px){
    .MembersBox .content .wrapper{
        padding-top: 0;
    }
    .MembersBox .content .wrapper .nameBox{
        display: none;
    }

    .MembersBox .content table{
        display: block;
        width: 100%;
    }
}