/* *{
    outline: 1px solid red;
} */
body{
    background-color: #000;
}
.MembersBox{
    width:100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.MembersBox .content{ 
    width: 100%;
}
.MembersBox .content h1{
    color: aqua;
}
.MembersBox .content h2{
    color:  rgb(224, 224, 224);
}
.MembersBox .content h3{
    color: rgb(224, 224, 224);
}





/*img*/
.MembersBox .content .wrapper{
    width: 100%;
    padding-top: 100px;
}
.MembersBox .content .wrapper .nameBox{ 
    margin: 0 30%;
    position: relative; 
    margin-bottom: 100px;
    width: 200px;
    height: 200px;
}
/* 黃色框線 */
.MembersBox .content .wrapper .nameBox .place{ 
    width: 70%;
    border-radius: 50%;
    line-height: 140px;
    border: 1px solid yellow;
}
/*右邊內容*/
.MembersBox .content .wrapper .nameBox .nameBox_value{
    width: 100%;
}
.MembersBox .content .wrapper .nameBox .nameBox_value_place{ 
    position: absolute;
    z-index: -3;
    line-height: 100px;
    text-align: center;
    height: 100px;
    width: 310px;
    border: 1px solid rgb(91, 200, 228);
    background-color: rgba(58, 58, 58 , 0.8);
    top: 20px;
    right: -250px;
}
.MembersBox .content .wrapper .nameBox img{ 
    z-index: -2;
    position: absolute;
    top: -55px;
    left: -40px;
    /* float: left; */
    width: 100%;
}
.MembersBox .content .wrapper p{
    
    margin: 0;
    font-size: 20px;
    color: rgb(255, 254, 254);
}



/* 左邊圖片 */
/* .MembersBox .content .wrapper img{
    box-sizing: border-box;
    padding: 5px;
    width: 20%;
} */



/*RWD才出現*/
.MembersBox .content table{
    border: 1px solid rgb(91, 200, 228);
    display: none;
    text-align: center;
    margin: 0 auto;
}
.MembersBox .content{
    color:rgb(224, 224, 224);
}
.MembersBox .content table th{
    color:rgb(224, 224, 224);
    border: 1px solid rgb(91, 200, 228);
}
.MembersBox .content table td{
    color:rgb(224, 224, 224);
    border: 1px solid rgb(91, 200, 228);
}

@media screen and (min-width:415px) and (max-width:1024px){
    
}
/*右邊手機尺寸*/
@media screen and (max-width:414px){
    .MembersBox .content .wrapper{
        padding-top: 0;
    }
    .MembersBox .content .wrapper .nameBox{
        display: none;
    }

    .MembersBox .content table{
        display: block;
        width: 100%;
    }
}