@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "微軟正黑體";
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
 }
  @media screen and (min-width: 415px) and (max-width: 1024px) {
    .wrapper {
      padding: 5% 0;
      height: auto; } }
  @media screen and (max-width: 414px) {
    .wrapper {
      padding-bottom: 4%;
      height: auto; } }
  .wrapper .content {
    width: 100%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media screen and (min-width: 415px) and (max-width: 1024px) {
      .wrapper .content {
        display: block;
        padding-top: 10%; } }
    @media screen and (max-width: 414px) {
      .wrapper .content {
        display: block;
        padding-top: 20%; } }
    .wrapper .content .box {
      width: 45%;
      height: 70vh;
      border: 4px solid #37fff3; }
      @media screen and (min-width: 415px) and (max-width: 1024px) {
        .wrapper .content .box {
          width: 90%;
          height: auto;
          margin: 0 auto; } }
      @media screen and (max-width: 414px) {
        .wrapper .content .box {
          width: 90%;
          height: auto;
          margin: 0 auto; } }
    .wrapper .content .info_area {
      text-align: center;
      padding: 20px; }
      @media screen and (min-width: 415px) and (max-width: 1024px) {
        .wrapper .content .info_area {
          padding: 5px; } }
      @media screen and (max-width: 414px) {
        .wrapper .content .info_area {
          padding: 5px; } }
      .wrapper .content .info_area h2 {
        color: #fff;
        margin-top: 20px;
        font-size: 24px;
        letter-spacing: 4px; }
        @media screen and (min-width: 415px) and (max-width: 1024px) {
          .wrapper .content .info_area h2 {
            font-size: 20px; } }
        @media screen and (max-width: 414px) {
          .wrapper .content .info_area h2 {
            font-size: 20px; } }
      .wrapper .content .info_area img {
        width: 95%; }
    .wrapper .content .rate_area {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      @media screen and (min-width: 415px) and (max-width: 1024px) {
        .wrapper .content .rate_area {
          margin-top: 5%; } }
      @media screen and (max-width: 414px) {
        .wrapper .content .rate_area {
          margin-top: 5%; } }
      .wrapper .content .rate_area .stars {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /***** CSS Magic to Highlight Stars on Hover *****/
        /* hover previous stars in list */ }
        @media screen and (min-width: 415px) and (max-width: 1024px) {
          .wrapper .content .rate_area .stars {
            display: flex;
            flex-direction: column;
            justify-content: space-around; } }
        @media screen and (max-width: 414px) {
          .wrapper .content .rate_area .stars {
            display: flex;
            flex-direction: column;
            justify-content: space-around; } }
        .wrapper .content .rate_area .stars h2 {
          width: 40%;
          color: #fff;
          line-height: 46px;
          text-align: center;
          font-size: 24px;
          letter-spacing: 4px; }
          @media screen and (min-width: 415px) and (max-width: 1024px) {
            .wrapper .content .rate_area .stars h2 {
              letter-spacing: 8px;
              line-height: 35px;
              width: 100%;
              padding: 0;
              font-size: 20px; } }
          @media screen and (max-width: 414px) {
            .wrapper .content .rate_area .stars h2 {
              letter-spacing: 8px;
              line-height: 35px;
              width: 100%;
              padding: 0;
              font-size: 20px; } }
        .wrapper .content .rate_area .stars .rating {
          width: 60%;
          margin: 0 auto;
          border: none;
          padding-right: 15%;
          padding-top: 5px; }
          @media screen and (min-width: 415px) and (max-width: 1024px) {
            .wrapper .content .rate_area .stars .rating {
              width: 100%;
              padding: 0 30%;
              padding-top: 0px; } }
          @media screen and (max-width: 414px) {
            .wrapper .content .rate_area .stars .rating {
              width: 100%;
              padding-top: 0px; } }
        .wrapper .content .rate_area .stars .rating > input {
          display: none; }
        .wrapper .content .rate_area .stars .rating > label:before {
          margin: 5px;
          font-size: 28px;
          font-family: FontAwesome;
          display: inline-block;
          content: "\f005"; }
        .wrapper .content .rate_area .stars .rating > label {
          color: #ddd;
          float: right;
          margin: 0 5px; }
        .wrapper .content .rate_area .stars .rating > input:checked ~ label,
        .wrapper .content .rate_area .stars .rating:not(:checked) > label:hover,
        .wrapper .content .rate_area .stars .rating:not(:checked) > label:hover ~ label {
          color: #FFD700;
          cursor: pointer; }
        .wrapper .content .rate_area .stars .rating > input:checked + label:hover,
        .wrapper .content .rate_area .stars .rating > input:checked ~ label:hover,
        .wrapper .content .rate_area .stars .rating > label:hover ~ input:checked ~ label,
        .wrapper .content .rate_area .stars .rating > input:checked ~ label:hover ~ label {
          color: #FFD700; }
      .wrapper .content .rate_area .rate_box {
        width: 90%;
        margin: 0 auto; }
      .wrapper .content .rate_area .text_box #rate_text {
        resize: none;
        background: #000;
        width: 100%;
        height: 40vh;
        border: 2px solid #37fff3;
        font-size: 20px;
        letter-spacing: 2px;
        color: #fff;
        font-family: "微軟正黑體";
        padding: 5px; }
        @media screen and (min-width: 415px) and (max-width: 1024px) {
          .wrapper .content .rate_area .text_box #rate_text {
            height: 20vh; } }
        @media screen and (max-width: 414px) {
          .wrapper .content .rate_area .text_box #rate_text {
            height: 20vh; } }
      .wrapper .content .rate_area .buttons_box {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .wrapper .content .rate_area .buttons_box .button {
          width: 50%;
          height: 40px;
          outline: none;
          background: #000;
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          padding: 1%;
          margin: 5px;
          letter-spacing: 16px;
          font-family: "微軟正黑體";
          text-align: center;
          background-color: rgba(255, 193, 22, 0.2);
          transition: 0.2s linear;
          vertical-align: middle;
          position: relative;
          border: none; }
        .wrapper .content .rate_area .buttons_box .button:hover {
          cursor: pointer;
          background-color: rgba(255, 193, 22, 0.8);
          color: black; }
        .wrapper .content .rate_area .buttons_box .button:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 100%;
          height: 100%;
          border: 2px solid rgba(255, 193, 22, 0.8);
          transition: 0.2s linear;
          /*	animation: big .8s ease infinite;*/ }
        .wrapper .content .rate_area .buttons_box .button:hover:before {
          width: 520px;
          height: 450px;
          border: 2px solid rgba(255, 193, 22, 0.5); }
        .wrapper .content .rate_area .buttons_box .button:after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 0px;
          height: 0px;
          border-radius: 100%;
          border: 2px solid rgba(255, 193, 22, 0);
          animation: big 0.8s ease infinite;
          filter: drop-shadow(0px 0px 2px rgba(255, 193, 111, 0.4)); }
        .wrapper .content .rate_area .buttons_box .button:hover:after {
          -webkit-animation: none !important;
          -moz-animation: none !important;
          -o-animation: none !important;
          -ms-animation: none !important;
          animation: none !important; }

@keyframes big {
  0% {
    width: 0px;
    height: 0px;
    border: 2px solid rgba(255, 193, 22, 0.5); }
  100% {
    width: 130px;
    height: 130px;
    border: 3px solid rgba(255, 193, 22, 0); } }
