@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體";
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(100, 255, 243, 1);
  /* outline: 1px solid rgba(100,255,243,1);*/
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #000;
  padding: 0 5%;
  padding-bottom: 20px;
}

.wrapper .content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .wrapper .content {
    flex-direction: column;
    padding-top: 150px;
  }
}

@media screen and (max-width: 414px) {
  .wrapper .content {
    flex-direction: column;
    padding-top: 150px;
  }
}

.wrapper .buttonArea {
  width: 600px;
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
  display: none;
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .wrapper .buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10% 20px 20px 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    padding-bottom: 20px;
    z-index: 9;
  }
}

@media screen and (max-width: 414px) {
  .wrapper .buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20% 20px 20px 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    z-index: 9;
  }
}

.wrapper .buttonArea a {
  width: 200px;
  height: 50px;
  color: #fff;
  border: 2px solid rgba(50, 224, 220, 0.5);
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 4px;
  line-height: 50px;
  text-align: center;
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .wrapper .buttonArea a {
    width: 45%;
    background: #000;
  }
}

@media screen and (max-width: 414px) {
  .wrapper .buttonArea a {
    width: 45%;
    background: #000;
  }
}

.wrapper .content .tickets_area {
  width: 45%;
}



@media screen and (min-width: 415px) and (max-width: 1024px) {
  .wrapper .content .tickets_area {
    width: 100%;
  }
}
@media screen and (max-width: 414px) {
  .wrapper .content .tickets_area {
    width: 100%;
  }
}

.wrapper .content .tickets_area h2 {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

.wrapper .content .tickets_area .no_ticket{
  border: 2px solid #37fff3;
  width:90%;
  height: 220px;
  margin: 15px auto;
  color: #37fff3;
  line-height:220px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 4px;
}

.wrapper .content .tickets_area .tickets {
  border: 2px solid #37fff3;
  width:90%;
  height: 220px;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}


@media screen and (min-width: 415px) and (max-width: 1024px) {
  .wrapper .content .tickets_area .tickets {
    width: 95%;
    height: auto;
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .wrapper .content .tickets_area .tickets {
    width: 95%;
    height: auto;
    flex-direction: column;
  }
}

.wrapper .content .tickets_area .tickets .QR_code {
  width: 40%;
  height: 100%;
  padding: 10px;
  transition: 0.4s ease-in-out; 
  position: relative;
  top:5%;
}
.wrapper .content .tickets_area .tickets .QR_code .QR_img{

  width: 100%;

}
.wrapper .content .tickets_area .tickets .QR_code .ticket_used_up{
  width: 80%;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  margin: auto;
  border: #f00 4px solid;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #f00;
  background: rgba(46, 46, 46, 0.9);
  display: none;
}



@media screen and (min-width: 415px) and (max-width: 1024px) {
  .wrapper .content .tickets_area .tickets .QR_code {
    width: 40%;
    margin: 0 auto;
    top:0%;
  }
  .wrapper .content .tickets_area .tickets .QR_code .ticket_used_up{

    font-size: 16px;
  }
}

@media screen and (max-width: 414px) {
  .wrapper .content .tickets_area .tickets .QR_code {
    width: 40%;
    margin: 0 auto;
    top:0%;
  }
  .wrapper .content .tickets_area .tickets .QR_code .ticket_used_up{

    font-size: 16px;
  }


}

.wrapper .content .tickets_area .tickets .button_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.wrapper .content .tickets_area .tickets .button_area a {
  display: block;
  width: 100px;
  height: 30px;
  background-color: rgba(255, 193, 22, 0.2);
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.wrapper .content .tickets_area .tickets .button_area a:hover {
  background-color: rgba(255, 193, 22, 0.8);
  color: black;
  cursor: pointer;
}

.wrapper .content .tickets_area .tickets .ticket_info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  color: #37fff3;
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .wrapper .content .tickets_area .tickets .ticket_info {
    width: 70%;
    margin: 0 auto;
    padding: 0  0 10px 0;
  }
}

@media screen and (max-width: 414px) {
  .wrapper .content .tickets_area .tickets .ticket_info {
    width: 70%;
    margin: 0 auto;
    padding: 0  0 10px 0;
  }
}

.wrapper .content .tickets_area .tickets .ticket_info p {
  padding-top: 10px;
}

.wrapper .content .tickets_area .tickets .more_info_theater {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 193, 22, 0.2);
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.wrapper .content .tickets_area .tickets .more_info_theater:hover {
  background-color: rgba(255, 193, 22, 0.8);
  color: black;
}


.qr_back_cover{
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 1005;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.9;
  transition: 1s ease-in-out; 

}
.is-large{
  transform: scale(2);
  position: relative;
  left:50%;
  z-index: 1006;
  transition: 0.4s ease-in-out; 
}
.is-cover{
  display: block;
  transition: 1s ease-in-out; 
}
.stop-scrolling{
  height: 100vh;
  overflow: hidden;
}