@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體"; }
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(100,255,243,1);
 /* outline: 1px solid rgba(100,255,243,1);*/
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  background: #000;
  padding-bottom: 20px; }
  .wrapper .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px; }

    .wrapper  .buttonArea{
    width: 600px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

    .wrapper  .buttonArea a{
      width:200px;
      height: 50px;
      color: #fff; 
      border: 2px solid rgba(50,224,220,0.5);
      border-radius: 10px;
      text-decoration:none;
      letter-spacing: 4px;
      line-height: 50px;
      text-align: center;
  }
  .wrapper .buttonArea a.myticket{
      color: black;
      font-weight: bold;
      background-color: rgba(50,224,220,0.6);
  }




    .wrapper .content .tickets_area {
      width: 45%;
       }
      .wrapper .content .tickets_area h2 {
        color: #fff;
        text-align: center;
        padding-top: 10px; }
      .wrapper .content .tickets_area .tickets {
        border: 2px solid #37fff3;
        width: 80%;
        margin: 15px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative; }
        .wrapper .content .tickets_area .tickets .QR_code {
          width: 40%;
          height: 100%;
          padding: 10px; }
        .wrapper .content .tickets_area .tickets .button_area {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-top: 10px; }
          .wrapper .content .tickets_area .tickets .button_area a {
            display: block;
            width: 100px;
            height: 30px;
            background-color: rgba(255, 193, 22, 0.2);
            text-decoration: none;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            font-weight: bold;
            color: #fff; }
          .wrapper .content .tickets_area .tickets .button_area a:hover {
            background-color: rgba(255, 193, 22, 0.8);
            color: black; 
          cursor: pointer;}
        .wrapper .content .tickets_area .tickets .ticket_info {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 10px;
          color: #37fff3; }
          .wrapper .content .tickets_area .tickets .ticket_info p {
            padding-top: 10px; }
        .wrapper .content .tickets_area .tickets .more_info_theater {
          margin: 0 auto;
          display: block;
          width: 100%;
          height: 30px;
          background-color: rgba(255, 193, 22, 0.2);
          text-decoration: none;
          text-align: center;
          line-height: 30px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          margin-top: 10px; }
        .wrapper .content .tickets_area .tickets .more_info_theater:hover {
          background-color: rgba(255, 193, 22, 0.8);
          color: black; }
