body{
	background-color: rgb(0, 0, 0);
}
/* 導覽列 */
.header{
	width: 100%;
}
.nav{
    width: 100%;
}
.nav{
    text-align: center;
}
.nav li{
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: middle;
}
.nav .logo{
    width: 350px;
}
.nav .logo img{
    width: 100%;
}

/* 中間背景 */
.cont{
	max-width: 30%;
	height: auto;
    background-color: rgba(75, 74, 74,0.5);
    margin: 0 auto;
	position: relative;

}
.cont .bar{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
@media screen and (max-width: 767px) {

.cont{
    max-width: 100%;
    }

}


/* 中間註冊 */
.SingUp{
	box-sizing: border-box;
	padding: 20px;
	z-index: 99;
}
.SingUp h3{
	font-size: 30px;
	text-align: center;
    color:rgb(10, 242, 250);
    
}
.SingUp .text{
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color:rgb(10, 242, 250);
	text-shadow: 
}
.SingUp .text input{
	border-radius: 10px;
}
.SingUp .btn{
	box-sizing: border-box;
	padding: 30px;
	text-align: center;
	display: inline-block;
	width: 100%;
	
}
@media screen and (max-width: 767px) {

.SingUp .text input{
	max-width: 100%;
    }

}