*{
	box-sizing: border-box;
	font-size: 0;
}

#da-thumbs{
	width: 70%;
	margin-left: 15%;
}
#da-thumbs ul{
	width: 100%;
	list-style: none;
	width: 70%;
	position: relative;
	margin: 20px auto;
	padding: 0;
}

#da-thumbs li {
  background: #fff;
  padding: 8px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

#da-thumbs li a,
#da-thumbs li a img {
	height: 100%;
	display: block;
	position: relative;
}
#da-thumbs li a {
	overflow: hidden;
}
#da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
#da-thumbs li a div span {
	font-size: 16px;
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

.block-mode{
	display: inline-block;
	width: 23%;
	height: 23%;
	margin: 1%;
	float: left;
}
.li-block-mode{
	display: block;
	width: 100%;
	height: 150px;
}
img{
	width: 100%;
	height: 100%;
}
.hahaha{
	height: 100%;
	width: auto;
}.div-block-mode{
	display: none;
}#switchBlock{
	width: 40px;
	height: 30px;
}
.inline_src{
	background-image: url(../img/activity/inlineblock_mode.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
}.block_src{
	background-image: url(../img/activity/block_mode.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 10px;
}