  @charset "UTF-8";
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

  * {
    margin: 0px;
    padding: 0px;
    /*outline: 1px solid red; */
  }

  body {
    font-family: "微軟正黑體", Arial ,sans-serif;
    background-color: black;
    overflow-x: hidden;
    color: #5AE6DB;
    line-height:1.5;
    letter-spacing: 2px;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    position:relative; 
  }
  .Menu {
    width: 50%;
    position: relative;
    top: 160px;
    left: 32.5%; }
  /*@media screen and (max-width:414px) {　
    .Menu {
      width:90%;
      top: 160px;
      left: 73px;
    }
  }*/
  @media screen and (max-width: 768px)and (min-width:415px) {
    .Menu {
      width:30%;
      top: 160px;
      left:35%; 
    }
  }
  
  .progressinfoMenu {
    margin-top: 10px;
    background-color: #ffc116;
    width: 140px;
    height: 40px;
    /*background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;*/
    /*-45度，反方向堆回來，那塊顏色就消失*/
    /*background-size: 50% 50%;*/
    /*顏色各占一 半*/
    background-repeat: no-repeat;
    transform: translate(0);
    transition: all 0.3s ease; }

  .progressinfoMenu .progressinfotriangle{
    position:absolute;
    right:-19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffc116;
  }
  @media screen and (max-width: 768px) {
      .progressinfoMenu .progressinfotriangle{
        display: none;
      }
  }
  .progressinfoMenu a {
    position: absolute;
    top:2px;
    left: 20px;
    color: black;
    padding: 7px 0px;
    text-decoration: none;
    transform: translate(0);
    transition: all 1s ease;
    z-index: 100; }

  .buyticketMenu {
    margin-top: 10px;
    background-color: #ffc116;
    opacity: 0.6;
    width: 140px;
    height: 40px;
    /*background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;*/
    /*-45度，反方向堆回來，那塊顏色就消失*/
    /*background-size: 50% 50%;*/
    /*顏色各占一 半*/
    background-repeat: no-repeat;
    transform: translate(0);
    transition: all 0.3s ease; }

  @media screen and (max-width: 768px) {
      .buyticketMenu{
         position: absolute;
         top:-9px;
         left: 65%;
      }
  }
  .buyticketMenu .buytickettriangle{
    position:absolute;
    right:-19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent  #ffc116;
  }
  @media screen and (max-width: 768px) {
      .buyticketMenu .buytickettriangle{
        display: none;
      }
  }

  .buyticketMenu a {
    position: relative;
    top: 9px;
    left: 20px;
    color: black;
    padding: 8px 0px;
    text-decoration: none;
    transform: translate(0);
    transition: all 1s ease; 
    z-index: 100;}

  .sq-one.move {
    transform: translate(0px, 50px); }

  .sq-two.move {
    transform: translate(0px, -50px); }

  /*topright*/
  .topright {
    width: 50%;
    position: relative;
    top: 60px;
    left: 43%; 
  }
  .topright .Recycle_arrows {
    position: absolute;
    top: 10px;
    left: 30px;
    cursor: pointer; }

  @media screen and (max-width: 768px) {
    .topright .Recycle_arrows {
      display: none; } }

  .topright .Menutitle {
    position: absolute;
    top: 10px;
    left: 100px;
    color: white;
    font-size:24px; }

  @media screen and (max-width: 768px) {
    .topright .Menutitle {
      width: 157px;
      top:150px;
      left:4%;
      /*margin-top: 59%;
      margin-left:-56%;*/
      } 
  }

  /*畫線*/
  .toprightcanvas {
    position: absolute;
    top: 10px;
    left: 230px; }

  @media screen and (max-width: 768px) {
    .toprightcanvas {
      display: none; } }

  /*.topright hr{
        position: absolute;
        top:20px;
        left:300px;
      }
      .topright .hrRotate{
        position: absolute;
        top:56px;
        left:387px;
        transform: rotate(45deg);
      }
      .topright .hrRotate2{
        position: absolute;
        top:143px;
        left:424px;
        transform: rotate(90deg);
      }*/
  /*星球 */
  .topright .planet {
    position: absolute;
    top: 200px;
    left: 200%; }

  @media screen and (max-width: 768px) {
    .topright .planet {
      display: none; } }

  /*太空人*/
  .topright .spaceman {
    position: absolute;
    top: 190px;
    left: 200%;
    width: 300px;
    height: 300px;
    /*transform: rotate(35deg);*/
    animation: jump 3s linear  infinite normal; }

  @media screen and (max-width: 768px) {
    .topright .spaceman {
      display: none; } }

  @keyframes jump {
    0% {
      transform: translateY(0) rotate(0deg); }
    20% {
      transform: translateY(-5px) rotate(2deg); }
    40% {
      transform: translateY(-10px) rotate(2deg); }
    50% {
      transform: translateY(-15px) rotate(0deg); }
    60% {
      transform: translateY(-10px) rotate(-2deg); }
    80% {
      transform: translateY(-5px) rotate(-2deg); }
    100% {
      transform: translateY(0) rotate(0deg); } }

  /*節目1*/
  .programone {
    width:50%;
    position: relative;
    top: 290px;
    left: 13%; }

  @media screen and (max-width: 768px) {
    .programone {
      width: 84%;
      left: 70px; 
      } 
  }

  .programone .programonetitle {
    width: 300px;
    position: absolute;
    /*top:0;*/
    left:-100%;
    color: white;
    font-size:24px; 
  }
  @media screen and (max-width: 768px){
    .programone .programonetitle{
        position: absolute;
        left: 1%;
      }
  }
  .programonecontent {
    position: absolute;
    top:5%;
    left:-200%;
    font-size: 16px;
    padding: 20px;
    line-height: 20px;
    letter-spacing: 1.2px;
    width: 300px;
    /*color: white;*/ 
  }
  @media screen and (max-width: 768px){
    .programonecontent{
       left: 3%;
    }
  }
  .programone .programoneline {
    position: absolute;
    top:20%;
    left: 27%;
    /*width: 7px;
    height:0;*/
    background-color: #35ffba; 
  }
  @media screen and (max-width: 768px){
      .programone .programoneline{
        width:5px;
        height: 60%;
      }
  }
  
  .programone .programoneline2 {
    position: absolute;
    top: 20%;
    left: 24%;
    width: 3px;
    height:0;
    background-color: #35ffba; }
  @media screen and (max-width: 768px){
      .programone .programoneline2{
        width:7px;
        height: 60%;
      }
  }
  .programone .spaceship {
    position: relative;
    top: 230px;
    left: -200%;
    width: 400px;
    height: 400px; }

  @media screen and (max-width: 768px) {
    .programone .spaceship {
      top:200px;
      left: 12%;
      width: 250px;
      height: 250px; } }

  .programtwoimg2 {
    position: absolute;
    top: 150%;
    left: 60%; }

  @media screen and (max-width: 768px) {
    .programtwoimg2 {
      display: none; } }

  .programtwoimg3 {
    position: absolute;
    top: 160%;
    left: 20%; }

  @media screen and (max-width: 768px) {
    .programtwoimg3 {
      display: none; } }

  /*節目2*/
  .programtwo {
    width: 30%;
    position: relative;
    top: 350px;
    left: 60%; }

  @media screen and (max-width: 768px) {
    .programtwo {
      width: 30%;
      top: 470px;
      left: 50%; 
    } 
  }
  .programtwo .programtwotitle {
    width: 300px;
    position:absolute;
    top:-18px;
    left:200%;
    color: white;
    font-size:23px; }

  @media screen and (max-width: 768px) {
    .programtwo .programtwotitle {
      position:absolute;
      top:-21px;
      left: 8% ;
    } 
  }

  .programtwo .programtwocontent {
    /*position:absolute;
    top:10%;
    left: 200%;*/
    position:relative;
    top:10%;
    left:200%;
    font-size: 16px;
    padding: 20px;
    line-height: 20px;
    letter-spacing: 1.2px;
    width: 300px;
    /*color: white; */
  }

  @media screen and (max-width: 768px) {
    .programtwo .programtwocontent {
      width: 200px;
      position:relative;
      top:10%;
      left:20%;
      margin-top: 30px;
      color: white; 
      } 
  }

  .programtwo .programtwospan {
    position: absolute;
    top: 90%;
    left: 65%;
    width:0;
    height: 0;
    background-color: #35ffba; }

  .programtwo .programtwospan2 {
    position: absolute;
    top: 90%;
    left: 58%;
    width: 0;
    height: 0;
    background-color: #35ffba; }

  @media screen and (max-width: 768px) {
    .programtwo .programtwospan {
      top: 88%;
      height: 1%; 
      width:5px;
      height: 250%;
    }
    .programtwo .programtwospan2 {
      top: 88%;
      height: 200%;
      position:absolute;
      width:5px;
      height:250%;
    } 
  }

  .programtwo .programtwoHr {
    position: absolute;
    top: 433%;
    right:-230%;
    width: 71%;
    height: 3%;
    background-color: #35ffba; }
  .programtwo .programtwoHr2 {
    position: absolute;
    top: 440%;
    right:-230%;
    width: 77%;
    height: 3%;
    background-color: #35ffba; }

  .programtwo .programtwoimg {
    position: absolute;
    top: 340%;
    left:200%; }

  @media screen and (max-width: 768px) {
    .programtwo .programtwoHr {
      display: none; }
    .programtwo .programtwoHr2 {
      display: none; }
    .programtwo .programtwoimg {
      top: 79%;
      left:-151px;
      margin-bottom: 15%; 
      } 
  }

    /*立即購買按鈕*/
    .buyticketBtn {
      margin: 0 auto;
      width: 10%;
      /*position: absolute;
      top:204%;
      left: 35.7%;*/
      font-size: 23px;
      margin-top: 736px;
      margin-bottom: 50px;
      /*border: 1px #35ffba solid;
      padding: 10px 10px;*/
    }
    @media screen and (max-width: 768px){
      .buyticketBtn {
        position: absolute;
        top:115%;
        left: 59%;
      }
    }
  /*.buyticketBtn a {
    text-decoration: none;
    color: white; }*/
    .buyticketBtn a {
        text-decoration: none;
        display: block;
        width: 150px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background-color: rgba(255, 193, 22,0.3);
        color: white;
        position: relative;
        transition: background-color .2s linear; 
    }
    .buyticketBtn a:after{
        content: "";
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255, 193, 22,0.6);
        transition: all .2s linear;
      }
      .buyticketBtn a:hover{
        background-color: rgba(255, 193, 22,0.9);
        color: black;
      }
      .buyticketBtn a:hover:after{
        width: 108%;
        height: 125%;
        border: 2px solid rgba(255, 193, 22,0.8);
      }
    @media screen and (max-width: 767px) {
    .buyticketBtn {
      top: 130%;
      left: 13%; } }
