    @charset "UTF-8";
    /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */
    * {
      margin: 0px;
      padding: 0px;
      /*outline: 1px solid red; */}

    body {
      font-family: "微軟正黑體", Arial ,sans-serif;
      background-color: black;
      color: #5AE6DB;
      /* background-image: url("../img/Galaxy_1.jpg");
    background-size: cover;
      */
    }
    .container {
      margin: 0 auto;
      position:relative;
	    text-align:center;
    }

    .Menu {
      width: 50%;
      position: relative;
      top: 160px;
      left: 32.5%; 
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .Menu {
        position: relative;
        top: 113px;
        left: 31.5%; 
      }
    }
    @media screen and (max-width:414px){
      .Menu{
        width:65%;
    		top:-38px;
    		left:0%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .progressinfoMenu {
      margin-top: 10px;
      background-color: #ffc116;
      opacity: 0.6;
      width: 140px;
      height: 40px;
      /*background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;*/
      /*-45度，反方向堆回來，那塊顏色就消失*/
     /* background-size: 50% 50%;*/
      /*顏色各占一 半*/
      background-repeat: no-repeat;
      transform: translate(0);
      transition: all 0.3s ease; 
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .progressinfoMenu{
          /*position: absolute;
          top:-11px;
          left:-7%;*/
          position: absolute;
          top:-11px;
          left:150px;
      }
    }
    @media screen and (max-width: 414px){
      .progressinfoMenu{
        /*position: absolute;
        top:-11px;
        left:-7%;*/
		    position: absolute;
        top:-60px;
        left:149px;
      }
    }
    .progressinfoMenu .progressinfotriangle{
      position:absolute;
      right:-19px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 20px 20px;
      border-color: transparent transparent transparent #ffc116;
    }
    @media screen and (max-width:768px){
      .progressinfoMenu .progressinfotriangle{
        display: none;
      }
    }
    @media screen and (max-width:414px){
      .progressinfoMenu .progressinfotriangle{
        display: none;
      }
    }
    .progressinfoMenu a {
      position: absolute;
      top:2px;
      left: 20px;
      color: black;
      padding: 7px 0px;
      text-decoration: none;
      transform: translate(0);
      transition: all 0.3s ease; 
    }
    @media screen and (max-width: 414px){
      .progressinfoMenu a{
        top:5px;
      }
    }
    .buyticketMenu {
      margin-top: 10px;
      background-color: #ffc116;
      width: 140px;
      height: 40px;
      /*background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;*/
      /*-45度，反方向堆回來，那塊顏色就消失*/
      /*background-size: 50% 50%;*/
      /*顏色各占一 半*/
      background-repeat: no-repeat;
      transform: translate(0);
      transition: all 0.3s ease; }
    @media screen and (max-width: 414px){
      .buyticketMenu{
	    position: absolute;
        top:-60px;
        left:-19px;
        /*position: absolute;
        top:-11px;
        left:142px;*/
      }
    }
    .buyticketMenu .buytickettriangle{
      position:absolute;
      right:-19px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 20px 20px;
      border-color: transparent transparent transparent #ffc116;
    }
     @media screen and (max-width: 414px){
      .buyticketMenu .buytickettriangle{
        display: none;
      }
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .buyticketMenu .buytickettriangle{
        display: none;
      }
    }
    .buyticketMenu a {
      position: relative;
      top:9px;
      left: 2px;
      color: black;
      padding: 8px 0px;
      text-decoration: none;
      transform: translate(0);
      transition: all 0.3s ease; }
    @media screen and (max-width: 414px){
      .buyticketMenu a{
        top:12px;
      }
    }
    .sq-one.move {
      transform: translate(0px, 50px); }

    .sq-two.move {
      transform: translate(0px, -50px); }

    /*topright*/
    .topright {
      width: 50%;
      position: relative;
      top: 60px;
      left: 43%; }
    @media screen and (max-width:414px){
	  .topright {
      width: 100%;
      position: relative;
      top: 0px;
      left: 0%; }
	  }

    .topright .Recycle_arrows {
      position: absolute;
      top: 10px;
      left: 30px;
      cursor: pointer; }
    @media screen and (max-width:1024px) and (min-width:415px){
      .topright .Recycle_arrows {
        display: none; 
      }
    }
    @media screen and (max-width:414px) {
      .topright .Recycle_arrows {
        display: none; 
        } 
    }

    .topright .Menutitleh2 {
      position: absolute;
      top: 10px;
      left: 89px;
      color: white;
      font-size:24px; }

    @media screen and (max-width:1024px) and (min-width: 415px){
      .topright .Menutitleh2{
        width:300px;
        position: absolute;
        top:110px;
        left:-95px;
        /*margin-top: 28px;
        margin-left: 20px;*/
        font-size: 24px; 
    } 
    }
	  @media screen and (max-width: 414px) {
      .topright .Menutitleh2{
        width:100%;
        /*position: absolute;*/
        top:-23px;
        left: 0%;
        /*margin-top: 28px;
        margin-left: 20px;*/
        font-size: 24px; 
      } 
    }

    /*畫線*/
    .toprightcanvas {
      position: absolute;
      top: 10px;
      left: 230px; }
    @media screen and (max-width:1024px) and (min-width:415px){
      .toprightcanvas {
        display: none; 
      }
    }
    @media screen and (max-width: 414px) {
      .toprightcanvas {
        display: none; } 
    }

    /*.topright hr{
          position: absolute;
          top:20px;
          left:300px;
        }
        .topright .hrRotate{
          position: absolute;
          top:56px;
          left:387px;
          transform: rotate(45deg);
        }
        .topright .hrRotate2{
          position: absolute;
          top:143px;
          left:424px;
          transform: rotate(90deg);
        }*/

    .spcial  h2{
      font-size: 24px;
      color:#fff;
    }

    /*節目場次*/
    .TheaterEvent {
      padding: 2em 0 4em 0;
      margin: 0 auto;
      margin-top: 180px;
      z-index: 1000;
    }
    @media screen and (max-width:1024px) and (min-width:415px) {
      .TheaterEvent {
        margin-top: 200px; 
        } 
    }
    .TheaterEventTitle{
      text-align: center;
      font-size: 36px;
      color:#fff;
    }
	  @media screen and (max-width: 414px) {
  		.TheaterEventTitle{
  			width:100%;
  		}
  	}
  

    .Theatercounter {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      max-width: 1068px; }

    .Theaterinfo {
      display: inline-block;
      margin: 10px 13px;
      border: 3px solid #42d9ff; }
	  
	@media screen and (max-width: 414px) {
		.Theatercounter {
			margin-left:auto;
			margin-right:auto;
			
			/*display:inline-block;*/
	 }

		.Theaterinfo {
			display:inline-block;
			margin-left:auto;
			margin-right:auto;
		  border: 3px solid #42d9ff; }
	}
    .Theaterinfo .special {
      float: left;
      display: inline-block;
      margin: 10px;
      /*width:200px;
          height:auto;*/
      /*position:relative;*/ }

    .image {
      /* border-radius: 6px;*/
      display: block;
      width: 400px; }

    /*.spcial h3 {
      font-size: 20px;
      color: #ffffff;
      line-height: 1.8em;
      text-align: center; }*/

    .spcial p {
      width: 397px;
      text-align: left;
      padding: 10px 10px;
      line-height:1.5;
      letter-spacing: 2px; 
    }
  	@media screen and (max-width: 414px) {
  	 .spcial p {
  		width:384px;
  	  }
  	}
    .spcial .buyticket {
      float: right;
      font-size: 23px;
      /*border: 1px #35ffba solid;
      padding: 5px 10px;*/
      margin: 10px 10px; }

    .spcial  a{
      text-decoration: none;
      display: block;
      width: 150px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      background-color: rgba(255, 193, 22,0.3);
      color: white;
      position: relative;
      transition: background-color .2s linear;  
    }
    .spcial  a:after{
      content: "";
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 193, 22,0.6);
      transition: all .2s linear;
    }
    .spcial  a:hover{
      background-color: rgba(255, 193, 22,0.9);
      color: black;
    }
    .spcial  a:hover:after{
      width: 108%;
      height: 125%;
      border: 2px solid rgba(255, 193, 22,0.8);
    }
    .Theaterinfo .spcial:after {
      content: '';
      display: block;
      clear: both; }
