  @charset "UTF-8";
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

  * {
    margin: 0px;
    padding: 0px;
    /*outline: 1px solid red; */
  }

  body {
    font-family: "微軟正黑體", Arial ,sans-serif;
    background-color: black;
    overflow-x: hidden;
    color: #5AE6DB;
    /* background-image: url("../img/Galaxy_1.jpg");
      background-size: cover;
    */
  }
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(100,255,243,1);
 /* outline: 1px solid rgba(100,255,243,1);*/
}

  .container {
    width: 100%;
    text-align: center; 
    position: relative;
  }
  .menuTheaterbuyticket{
    width: 70%;
    height: 250px;
    position: relative;
    margin: auto;
    margin-top:12%;
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .menuTheaterbuyticket{
      width: 80%;
      height: auto;
    }
  }
  @media screen and (max-width:414px){
    .menuTheaterbuyticket{
      width:90%;
      margin-top:101px;
      height: auto;
      /*height: auto;*/
    }
  }
  .menuTheaterbuyticket:after{
    content:'';
    display: block;
    clear: both;
  }
  .Menu {
    width:33.33%;
    height: 250px;
    float: left;
    position: relative;
  }
  
  @media screen and (max-width:1024px) and (min-width:415px) {
    .Menu{
      width:100%;
      margin:0 auto;
      height:50px;
      /*position: relative;
      top: 108px;
      left: 33.5%;*/
    }
    .Menu:nth-child(2){
      padding-left:7%;
      height: 100px;
      line-height: 100px;
    }
    .Menu:nth-child(3){
        display: none;
    }
  }
  @media screen and (max-width:414px){
    .Menu{
      width:100%;
      margin:0 auto;
      height:50px;
    }
    .Menu:nth-child(2){
      display: none;
    }
    .Menu:nth-child(3){
      display: none;
    }
  }
  .progressinfoMenu {
    margin-top: 10px;
    background-color: #ffc116;
    width: 140px;
    height: 40px;
    position: absolute;
    right:21px;
    /*background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;*/
    /*-45度，反方向堆回來，那塊顏色就消失*/
    /*background-size: 50% 50%;*/
    /*顏色各占一 半*/
    background-repeat: no-repeat;
    transform: translate(0);
    transition: all 0.3s ease; 
  }
  @media screen and (max-width:414px){
      .progressinfoMenu{
        display: inline-block;
        position: static;
        vertical-align: middle;
        margin:0 12px;
      }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
      .progressinfoMenu{
        display: inline-block;
        position: static;
        vertical-align: middle;
        margin:0 12px ;
        /*position: absolute;
        top:-11px;
        left:3%;*/
      }
  }
  .progressinfoMenu .progressinfotriangle{
    position:absolute;
    right:-19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ffc116;
  }
  @media screen and (max-width:414px) {
      .progressinfoMenu .progressinfotriangle{
        display: none;
      }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
      .progressinfoMenu .progressinfotriangle{
        display: none;
      }
  }
  .progressinfoMenu a {
    /*position: absolute;
    top: 5px;
    left: 20px;*/
    display: block;
    width: 100%;
    height:100%;
    text-align: center;
    color: black;
    line-height: 40px;
    /*padding: 7px 0px;*/
    text-decoration: none;
    transform: translate(0);
    transition: all 1s ease;
    z-index: 100; 
  }
  @media screen and (max-width:414px){
    .progressinfoMenu a{
      left: 39px;
    }
  }

  .buyticketMenu {
    margin-top: 10px;
    background-color: #ffc116;
    opacity: 0.6;
    width: 140px;
    height: 40px;
    position: absolute;
    top:50px;
    right:21px;
    /*background: linear-gradient(-45deg, transparent 40px, #ffc116 0%) bottom right, linear-gradient(130deg, transparent 0px, #ffc116 0%) bottom left, linear-gradient(-135deg, transparent 40px, #ffc116 0%) top right, linear-gradient(135deg, transparent 0px, #ffc116 0%) top left;*/
    /*-45度，反方向堆回來，那塊顏色就消失*/
    /*background-size: 50% 50%;*/
    /*顏色各占一 半*/
    background-repeat: no-repeat;
    transform: translate(0);
    transition: all 0.3s ease; }
  
  @media screen and (max-width:414px) {
      .buyticketMenu{
        display: inline-block;
        position: static;
        vertical-align: middle;
        margin:0 12px;
      }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
      .buyticketMenu{
        display: inline-block;
        position: static;
        margin:0 12px ;
        vertical-align: middle;
         /* position: absolute;
          top:-11px;
          left:175px;*/
      }
  }
  .buyticketMenu .buytickettriangle{
    position:absolute;
    right:-19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent  #ffc116;
  }
  @media screen and (max-width: 414px) {
      .buyticketMenu .buytickettriangle{
        display: none;
      }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
      .buyticketMenu .buytickettriangle{
        display: none;
      }
  }
  .buyticketMenu a {
    /*position: relative;
    top: 11px;
    left:-1px;
    padding: 8px 0px;*/
    color: black;
    display: block;
    width: 100%;
    height:100%;
    text-align: center;
    color: black;
    line-height: 40px;
    text-decoration: none;
    transform: translate(0);
    transition: all 1s ease; 
    z-index: 100;}

  .sq-one.move {
    transform: translate(0px, 50px); }

  .sq-two.move {
    transform: translate(0px, -50px); }

  /*topright*/
  /*.topright {
    width:33.33%;
    height: 250px;
    
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .topright {
      width: 50%;
      position: relative;
      top:130px;
      left: 43%; 
    }
  }*/
  .Menu .Recycle_arrows {
    position: absolute;
    top: 10px;
    left:50px;
    display:inline-block;
    cursor: pointer;
  }

  @media screen and (max-width: 414px) {
    .Menu .Recycle_arrows {
      display: none; 
      } 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .Menu .Recycle_arrows {
      display: none; 
    }
  }
  .Menu .Menutitle {
    /*position: absolute;
    top: 10px;
    left: 100px;*/
    display:inline-block;
    color: white;
    position: absolute;
    top:12px;
    left:50%;
    transform: translateX(-30%);
    font-size:24px;
    letter-spacing: 2px;
    font-weight: bold;
  }

  @media screen and (max-width:414px) {
    .Menu .Menutitle {
      width: 137px;
      position: absolute;
      top:97px;
      left:-37px;
      display: none;
    }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .Menu .Menutitle {
      width: 138px;
      position: static;
      text-align: center;
      top:20px;
      /*position: absolute;
      top: 91px;
      left:85px;*/
    }
  }
  /*畫線*/
  .toprightcanvas {
    position:relative;
    top: 0px;
    /*right:50px;*/
  }

  @media screen and (max-width: 414px) {
    .toprightcanvas {
      display: none; 
    } 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .toprightcanvas {
      display: none; 
    } 
  }

  /*.topright hr{
        position: absolute;
        top:20px;
        left:300px;
      }
      .topright .hrRotate{
        position: absolute;
        top:56px;
        left:387px;
        transform: rotate(45deg);
      }
      .topright .hrRotate2{
        position: absolute;
        top:143px;
        left:424px;
        transform: rotate(90deg);
      }*/
       /*太空人*/
    .menu .spaceman {
      position: absolute;
      top: 150px;
      left: 200%;
      width: 300px;
      height: 300px;
      /*transform: rotate(35deg);*/
      animation: jump 3s linear  infinite normal; }

    @media screen and (max-width: 414px) {
      .menu .spaceman {
        display: none; 
      } 
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .menu .spaceman {
        display: none; 
      }
    }
    /*星球 */
    .planet {
      position: absolute;
      top: 150px;
      left:200%; }

    @media screen and (max-width:414px) {
      .planet {
        display: none; 
      } 
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .planet {
        display: none; 
      }
    }

 
  @keyframes jump {
    0% {
      transform: translateY(0) rotate(0deg); }
    20% {
      transform: translateY(-5px) rotate(2deg); }
    40% {
      transform: translateY(-10px) rotate(2deg); }
    50% {
      transform: translateY(-15px) rotate(0deg); }
    60% {
      transform: translateY(-10px) rotate(-2deg); }
    80% {
      transform: translateY(-5px) rotate(-2deg); }
    100% {
      transform: translateY(0) rotate(0deg); } }

  /*節目1*/
  .programone {
    width:50%;
    position: relative;
    top: 72px;
    left: 22%; 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programone {
      width:50%;
      /*position: relative;
      top: 293px;
      left:41%;*/
    }
  }
  @media screen and (max-width:414px) {
    .programone {
      width:100%; 
      position:static;
      margin-top: 50px;
      margin-bottom: 60px;
    } 
  }
  .programone .programonetitle {
    width: 300px;
    position: absolute;
    /*top:0;*/
    left:-100%;
    color: white;
    font-size: 24px; 
  }
  @media screen and (max-width:414px){
    .programone .programonetitle{
      position:static;
      width: 100%;
      margin: 0 auto;
      /*position: absolute;
      top:5px;
      left: 1%;*/
    }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programone .programonetitle{
      position: absolute;
      top:5px;
      left: 3%;
    }
  }
  .programone .programoneline {
    position: absolute;
    top:20%;
    left: 1%;
    /*width: 7px;
    height:0;*/
    /*border: 1px #7bd3f8 solid;*/
    /*border-radius: 10px;*/
    background-color: #35ffba; }
  @media screen and (max-width:414px){
    .programone .programoneline{
      /*width:5px;
      height: 60%;*/
      display: none;
    }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programone .programoneline{
      width:5px;
      height: 60%;
    }
  }
  .programonecontent {
    position: absolute;
    top:5%;
    left:-200%;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    width: 300px;
    line-height:1.5;
    letter-spacing: 2px;
    /*color: white; */
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programonecontent{
      width:70%;
      position: absolute;
      top:10%;
      left: 3%;
    }
  }
  @media screen and (max-width:414px){
    .programonecontent{
      width:61%;
      position:static;
      margin-left:25%;
      /*position: absolute;
      top:10%;
      left: 3%;*/
    }
  }

  .programone .programoneline2 {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 3px;
    height:0;
    background-color: #35ffba; }
  @media screen and (max-width:414px){
    .programone .programoneline2{
      /*width:5px;
      height: 60%;*/
      display: none;
    }
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programone .programoneline2{
      width:5px;
      height: 60%;
    }
  }
  .programone .spaceship {
    position: relative;
    top: 230px;
    left: -200%;
    width: 400px;
    height: 400px; }

  @media screen and (max-width: 414px) {
    .programone .spaceship {
      position: absolute;
      top:256px;
      left:10%;
      width: 250px;
      height: 250px; 
      /*display: none;*/
    } 
    /*.programone .spaceship2{
      position: absolute;
      top:224px;
      left: 10%;
      width: 250px;
      height: 250px;
    }*/
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programone .spaceship {
      position: relative;
      top:133px;
      left: -20%;
      width: 250px;
      height: 250px; 
    } 
  }
  .programtwoimg2 {
    position: absolute;
    top: 150%;
    left: 60%; 
    width:200px; 
    height:200px;
  }

  @media screen and (max-width: 414px) {
    .programtwoimg2 {
      /*display: none;*/ 
      position: absolute;
      top:100%;
      left:64%;
      width:100px; 
      height:100px;
    } 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programtwoimg2 {
      position: absolute;
      top: 170%;
      left:-13%;
      /*display: none;*/ 
    } 
  }
  .programtwoimg3 {
    position: absolute;
    top: 160%;
    left: 20%; }

  @media screen and (max-width: 414px) {
    .programtwoimg3 {
      display: none; } }

  /*節目2*/
  .programtwo {
    width: 30%;
    position: relative;
    top:112px;
    left: 60%; 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programtwo {
      width:21%;
      top:253px;
      left:49%; 
    } 
  }
  @media screen and (max-width:414px) {
    .programtwo {
      width:100%; 
      position:static;
      margin-top:254px;
      margin-bottom: 60px;
      /*width:25%;*/
      /*top:330px;
      left: 27%;*/ 
    } 
  }

  .programtwo .programtwotitle {
    width: 300px;
    position:absolute;
    top:-18px;
    left:200%;
    color: white;
    font-size:24px; 
  }

  @media screen and (max-width: 414px) {
    .programtwo .programtwotitle {
      position:static;
      width: 100%;
      margin: 0 auto;
      /*position:absolute; 
      top:-18px;
      left:-10%;*/
    } 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programtwo .programtwotitle {
      width: 250px;
      position:absolute; 
      left: 2%;
    } 
  }
  .programtwo .programtwocontent {
    /*position:absolute;
    top:10%;
    left: 200%;*/
    position:relative;
    top:10%;
    left:200%;
    font-size: 16px;
    text-align: left;
    padding: 20px;
    line-height:1.5;
    letter-spacing: 2px;
    width: 300px;
    /*color: white;*/ 
  }

  @media screen and (max-width:414px) {
    .programtwo .programtwocontent {
      position:static;
      width: 61%;
      margin-left:10%;
      /*margin: 0 auto;*/
      /*position:relative;
      left: 8%;*/
    } 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programtwo .programtwocontent {
      width:98%;
      position:relative;
      left: 8%;
    } 
  }
  .programtwo .programtwospan {
    position: absolute;
    top: 90%;
    left: 65%;
    width:0;
    height: 0;
    background-color: #35ffba; }

  .programtwo .programtwospan2 {
    position: absolute;
    top: 90%;
    left: 58%;
    width: 0;
    height: 0;
    background-color: #35ffba; }
  @media screen and (max-width:414px){
    .programtwo .programtwospanmobie{
     /* position: absolute;
      top: 88%;
      left:120%;
      width:5px;
      height:190%;
      background-color: #35ffba;*/
      display: none;
    }
    .programtwo .programtwospanmobie2{
      /*position: absolute;
      top: 88%;
      left:130%; 
      width:5px;
      height: 190%;
      background-color: #35ffba;*/
      display: none;
    }
  }

  @media screen and (max-width:414px) {
    
    .programtwo .programtwospan {
      /*top: 88%;
      height: 1%;
      width:5px;
      height:250%;*/
      display: none;
    }
    .programtwo .programtwospan2 {
      /*top: 88%;
      height: 200%; 
      width:5px;
      height: 250%;*/
      display: none;
    } 

  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programtwo .programtwospanmobie{
      /*position: absolute;
      top: 90%;
      left: 60%;
      width:5px;
      height:125%;
      background-color: #35ffba;*/
      display: none;
    }
    .programtwo .programtwospanmobie2{
      /*position: absolute;
      top: 90%;
      left:70%; 
      width:5px;
      height: 125%;
      background-color: #35ffba;*/
      display: none;
    }
    .programtwo .programtwospan {
      /*top: 88%;
      height: 1%;
      width:5px;
      height:250%;*/
      display: none;
    }
    .programtwo .programtwospan2 {
      /*top: 88%;
      height: 200%; 
      width:5px;
      height: 250%;*/
      display: none;
    } 
  }
  .programtwo .programtwoHr {
    position: absolute;
    top: 433%;
    right:-230%;
    width: 87%;
    height: 3%;
    border: none;
    background-color: #35ffba; }

  .programtwo .programtwoHr2 {
    position: absolute;
    top: 440%;
    right:-230%;
    width: 94%;
    height: 3%;
    border: none;
    background-color: #35ffba; }

  .programtwo .programtwoimg {
    position: absolute;
    top: 346%;
    left:200%; 
    width:300px; 
    height:300px;
  }

  @media screen and (max-width: 414px) {
    .programtwo .programtwoHr {
      display: none;
    }
    .programtwo .programtwoHr2 {
      display: none; 
    }
    .programtwo .programtwoimg {
      /*width:250px; 
      height:250px;
      top: 156%;
      left: 55%;
      margin-bottom: 15%;*/
      display: none;
    } 
  }
  @media screen and (max-width:1024px) and (min-width:415px){
    .programtwo .programtwoHr {
      display: none;
    }
    .programtwo .programtwoHr2 {
      display: none; 
    }
    .programtwo .programtwoimg {
      /*width:250px; 
      height:250px;
      top: 67%;
      left: 81%;
      margin-bottom: 15%;*/
      display: none;
    } 
  }

    /*立即購買按鈕*/
    .buyticketBtn {
      position: absolute;
      top:70.5%;
      left: 40%;
      font-size: 16px;
      margin: 0 auto;
      margin-top: 700px;
      margin-bottom: 50px;
      font-family: "微軟正黑體";
      /*border: 1px #35ffba solid;
      padding: 10px 10px;*/
    }
    @media screen and (max-width:1024px) and (min-width:415px){
      .buyticketBtn {
        margin-top:434px;
        /*position: absolute;
        top:100%;
        left:54%;*/
      } 
    }
    @media screen and (max-width:414px) {
      .buyticketBtn {
        /*top: 130%;
        left: 36%;*/ 
        font-size: 21px;
        margin-top:315px;
        margin-bottom:30px;
      } 
    }
  /*.buyticketBtn a {
    text-decoration: none;
    color: white; }*/
    .buyticketBtn a {
        text-decoration: none;
        display: block;
        width: 150px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background-color: rgba(255, 193, 22,0.3);
        color: white;
        position: relative;
        transition: background-color .2s linear; 
    }
    .buyticketBtn a:after{
        content: "";
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        border: 2px solid rgba(255, 193, 22,0.6);
        transition: all .2s linear;
      }
      .buyticketBtn a:hover{
        background-color: rgba(255, 193, 22,0.9);
        color: black;
      }
      .buyticketBtn a:hover:after{
        width: 108%;
        height: 125%;
        border: 2px solid rgba(255, 193, 22,0.8);
      }

    
