@charset "UTF-8";
* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體"; 
  background: #000;}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #000; }
  .wrapper .content {
    width: 100%;
    max-width: 1920px;
    padding-top: 100px; }
    .wrapper .content .QR_info {

      height: 45vh; }
    .wrapper .content .info {
      padding: 5px;
      margin: 10px auto;
      width: 40%;
      border: 4px solid #37fff3; }
      .wrapper .content .info h2 {
        padding: 8px;
        margin-bottom: 5px;
        font-size: 24px;
        background-color: #37fff3;
        opacity: 0.9;
        color: #000;
        font-weight: bold;
        width: 100%;
        text-align: center;
       }
      .wrapper .content .info .QR {
        width: 40%;
        height: 100%;
        position: relative; }
        .wrapper .content .info .QR #QR_code {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.5s; }
          .wrapper .content .info .QR #QR_code:hover {
            cursor: pointer; }
      .wrapper .content .info .ticket_info {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        color: #37fff3; }
    .wrapper .content .info_ticket_QR {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .wrapper .content .info_used_record {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: #37fff3; }
      .wrapper .content .info_used_record .records {
        width: 80%;
        margin: 10px auto; }
        .wrapper .content .info_used_record .records p {
          display: inline-block;
          text-align: left;
          margin: 5px auto; }

.records p span{
  padding: 0 5px;
}
