@charset "UTF-8";
* {
  /*outline: 1px solid red;*/
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "微軟正黑體"; 
  background: #000;}
.wrapper {
  width: 100%;
  height: 100vh;
  background: #000; }
  .wrapper .content {
    width: 100%;
    max-width: 1920px;
    padding-top: 120px; 
    padding-bottom: 70px;
  
  }
    
/*    .wrapper .content .QR_info {

      height: 45vh; }*/
      
    .wrapper .content .info {
      padding: 5px;
      margin: 10px auto;
      width: 45%;
      min-width: 300px;
      border: 2px solid #37fff3; }

      @media screen and (min-width: 481px) and (max-width: 1024px) {
   
         .wrapper .content .info{
          width: 80%;
        }
      }
      
      @media screen and (max-width: 480px) {
          .wrapper .content{
            padding-top: 60px;
            padding-bottom: 0px;
          }
           .wrapper .content .info{
             width: 95%;
          }

      }



      .wrapper .content .info h2 {
        padding: 8px;
        margin-bottom: 5px;
        font-size: 24px;
        background-color: #37fff3;
        opacity: 0.9;
        color: #000;
        font-weight: bold;
        width: 100%;
        text-align: center;
       }
      
       
     
    .wrapper .content .info_ticket_QR {
      position: relative;
      width: 100%;
      height: 80%;
 }

      .wrapper .content .info_ticket_QR .QR {
        width: 200px;
        top:50%;
        transform: translateY(-50%);
        left:4%;
        position: absolute;
        
        /*transition: .2s linear;*/
        z-index: 10;
      
      }
      .wrapper .content .info_ticket_QR .QR .ticket_used_up{
        width: 70%;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
        margin: auto;
        border: #f00 4px solid;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: #f00;
        background: rgba(105, 105, 105, 0.9);
        display: none;
        transform: rotate(-5deg);
      }




      .wrapper .content .info .QR img{
        width: 100%;
      }
 @media screen and (max-width: 1024px) {

   .wrapper .content .info_ticket_QR .QR {
      cursor: pointer;
   }
      .wrapper .content .info #QR {
        
        left:50%;
        transform: translateY(-22%) translateX(-50%);
        width: 440px;
        background-color: black;
        text-align: center;
        box-shadow: -1px 2px 2px rgba(0,0,0,0.8),-2px 3px 5px rgba(0,0,0,0.6),-2px 4px 15px rgba(0,0,0,0.4);

      }
}
@media screen and (max-width: 480px) {
    .wrapper .content .info .QR {
        width: 50%;
        position: static;
        cursor: pointer;
        transition: none;
        z-index: 10;
        transform: translate(0);
        margin:10px auto;
      }
      .wrapper .content .info #QR {
        top:0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        padding-top: 35%;
        transform: translate(0);
        background-color:rgba(0,0,0.0.8);
        text-align: center;
        box-shadow: -1px 2px 2px rgba(0,0,0,0.8),-2px 3px 5px rgba(0,0,0,0.6),-2px 4px 15px rgba(0,0,0,0.4);
       
    }
    .wrapper .content .info #QR img{
      width: 75%;
     
    }
}




       .wrapper .content .info_ticket_QR .ticket_info {
        width: 100%;
        padding: 10%  0 10%  45%;
        color: #37fff3; }
          .wrapper .content .info_ticket_QR .ticket_info p{
            font-size: 20px;
            padding: 10px 0;
            letter-spacing: 2px;
           }
        

.wrapper .content .info_used_record {
       position: relative;
       color: #37fff3;
       padding: 10px;

}
      
 
      .wrapper .content .info_used_record .records {
        width: 87%;
        margin: 10px auto; 
        text-align: center;
      }
      .wrapper .content .info_used_record .records h3{
       
        font-size: 20px;
         margin: 15px 0;
      }
        .wrapper .content .info_used_record .records p {
          display: inline-block;
           margin: 5px auto;
           letter-spacing: 2px;  
        
        }

      .records .records_info{
        margin-bottom: 20px;

      }
      .records .records_info .unmbers{
        color: #fff;
        font-weight: bold;
        opacity: 1;
      }

@media screen and (max-width: 480px) {

  .wrapper .content .info_used_record {
    padding: 0;
  }

   .wrapper .content .info_used_record .records {
        width: 95%;
        margin: 0 auto; }
    .wrapper .content .info_used_record .records h3{
      text-align: center;
    }
    .wrapper .content .info_used_record .records p {
      margin: 0 auto;
      letter-spacing: 2px;  
      padding: 0 2px;
    }

  .wrapper .content .info .ticket_info{
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
  }
  .wrapper .content .info .ticket_info p{
    letter-spacing: 2px;
  }
}




.records p span{
  padding: 0 8px;
  opacity: 0.5;
}

.qr_back_cover{
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 1005;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.9;
  /*transition: 1s ease-in-out; */

}
/*.is-large{
  transform: scale(1.8);
  position: relative;
  left: 0;
  z-index: 1006;
  transition: 0.4s ease-in-out; 
}*/
/*.is-cover{
  display: block;
  transition: 1s ease-in-out; 
}*/
/*.stop-scrolling{
  height: 100vh;
  overflow: hidden;
}*/
.backbtn{
      position: absolute;
      right: 0;
      bottom:-70px;
      display: block;
      width:100%;/*依照自己頁面的需求自行調整*/
      height: 35px;/*依照自己頁面的需求自行調整*/
      text-align: center;/*文字置中*/
      line-height: 35px;/*與height等高:文字置中*/
      background-color: rgba(255, 193, 22,0.3);
      color: white;
      transition: background-color .2s linear; 
    }
    .backbtn:after{
      content: "";
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      border: 2px solid rgba(255, 193, 22,0.6);
      transition: all .2s linear;
    }
    .backbtn:hover{
      background-color: rgba(255, 193, 22,0.9);
      color: black;
    }
    .backbtn:hover:after{
      width: 102%;
      height: 125%;
      border: 2px solid rgba(255, 193, 22,0.8);
    }

@media screen and (max-width: 1024px) {
  #info_last{
    margin-bottom: 100px;
  }
     .wrapper .content .info_ticket_QR .ticket_info p{
            font-size:16px;
            padding: 10px 0;
    }
    .backbtn{
      bottom:-85px;
    }
}


@media screen and (max-height: 480px) {/*橫式*/
        .wrapper .content .info .QR {
          width: 150px;
        }
        .wrapper .content .info .QR .ticket_used_up{
          width: 90%;
        }
        .wrapper .content .info #QR {
          top:0;
          left: 0;
          position: fixed;
          width: 100%;
          height: 100vh;
          padding-top: 75px;
          transform: translate(0);
          background-color:rgba(0,0,0.0.8);
          text-align: center;
          box-shadow: -1px 2px 2px rgba(0,0,0,0.8),-2px 3px 5px rgba(0,0,0,0.6),-2px 4px 15px rgba(0,0,0,0.4);

      }
      .wrapper .content .info #QR img{
        width: auto;
       height:90%;
      }
      
}