.fd{ /*包摩天輪ㄉ視差區塊*/
  width: 100%;
  bottom: 0;

}
.ferris_cover{
  width: 27.2%;
  height: 80%;
  position: absolute;
  overflow: hidden;
  right: -1%;
  bottom: 4%;
  transform: translateY(90%);
  transition: transform 3s ease;
}
.silhouette .fd .ferris_cover .fw{/*摩天輪ㄉ支架*/
  width: 23.5%;
  position: absolute;
  filter: drop-shadow(0px 0px 3px rgba(0, 255, 255,0.15));
  bottom: 0;
  right: 40%;
}
#ferrisWheel {
  filter: drop-shadow(0px 0px 1px rgba(0, 255, 255,0.4));
  height: 81%;
  width: 81%;
  position: absolute;
  top:5%;
  right: 12%;
}

#wheel{
  height: 100%;
  width: 100%;
  border: 8.5px solid #000;
  border-radius: 100%;
  position: absolute;
}
#wheel_s{
  height: 50%;
  width: 50%;
  top:25%;
  left: 25%;
  border: 10px solid #000;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
}
#wheel_m{
  height: 80%;
  width: 80%;
  top:9.5%;
  left:9.5%;
  border: 6px solid #000;
  border-radius: 100%;
  z-index: -1;
  position: absolute;
}
#wheel .spoke {
  height: 100%;
  width: 1.5%;
  background: #000;
  margin: 0;
  position: absolute;
  left: 49.5%;
}
#wheel #spokes {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
}
#wheel #center {
  height: 20%;
  width: 20%;
  position: absolute;
  border-radius: 100%;
  top: 40%;
  left: 40.8%;
  background: #000;
  text-align: center;
}
#wheel #cabins {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
}
#wheel .cabinContainer {
  height: 22%;
  width: 122%;
  position: absolute;
  left: -11%;
  top: 40%;
}
#wheel .cabinContainer .hingeOffset {
  height: 100%;
  width: calc(20/122*100%);
  width: -webkit-calc(20/122*100%);
  position: relative;
  border-radius: 100%;
}
#wheel .cabinContainer .hingeOffset:nth-of-type(odd){
  float: left;
}
#wheel .cabinContainer .hingeOffset:nth-of-type(even){
  float: right;
}
#wheel .cabinContainer .hinge{
  height: 100%;
  width: 100%;
  position: absolute;
}
#wheel .cabinContainer .cabin{
  height: 50%;
  width: 65%;
  background: black;
  margin: 0 auto;
  margin-top: 45%;
  border-radius: 10px;
  position: relative;
}
#wheel .cabinContainer .cabin:before{
  content: "";
  height: 30%;
  width: 75%;
  background: #42D6CA;
  display: block;
  left: 12.5%;
  position: absolute;
  top: 15%;
  border-radius: 5px 5px 0 0;
  animation: light 2s infinite;
}

@keyframes light{
  0%{background: #42D6CA;}
  10%{background: #000;}
  15%{background: #42D6CA;}
  20%{background: #000;}
  25%{background: #42D6CA;}
  40%{background: #6699ff;}
  60%{background: #42D6CA;}
  80%{background: #000;}
  85%{background: #42D6CA;}
  100%{background: #42D6CA;}
}
#wheel .cabinContainer .cabin:after {
  content: "";
  height: 35%;
  width: 10%;
  display: block;
  position: absolute;
  left: 25%;
  bottom: 0;
  background: #222;
}

.spoke:nth-of-type(1), .cabinContainer:nth-of-type(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cabinContainer:nth-of-type(1) .hingeOffset {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.spoke:nth-of-type(2), .cabinContainer:nth-of-type(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.cabinContainer:nth-of-type(2) .hingeOffset {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.spoke:nth-of-type(3), .cabinContainer:nth-of-type(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.cabinContainer:nth-of-type(3) .hingeOffset {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.spoke:nth-of-type(4), .cabinContainer:nth-of-type(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cabinContainer:nth-of-type(4) .hingeOffset {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.spoke:nth-of-type(5), .cabinContainer:nth-of-type(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.cabinContainer:nth-of-type(5) .hingeOffset {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.spoke:nth-of-type(6), .cabinContainer:nth-of-type(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.cabinContainer:nth-of-type(6) .hingeOffset {
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.cabinContainer:nth-of-type(8) {
  background: red;
}


@keyframes cwise {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes countwise {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
#spokes, #cabins {
          animation: cwise 30s linear infinite;
}

.hinge {
          animation: countwise 30s linear infinite;
}
